* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  font-family: "NotoSansKR-Regular";
}

body, p, b, figure, h2, h3, h4, h5, h6, div {
  margin: 0px;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img, video {
  vertical-align: middle;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button, input {
  outline-style: none;
  border: none;
}

table {
  border-collapse: collapse;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Black.otf") format("truetype");
  font-family: "NotoSansKR-Black";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Bold.otf") format("truetype");
  font-family: "NotoSansKR-Bold";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Light.otf") format("truetype");
  font-family: "NotoSansKR-Light";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Medium.otf") format("truetype");
  font-family: "NotoSansKR-Medium";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Regular.otf") format("truetype");
  font-family: "NotoSansKR-Regular";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Thin.otf") format("truetype");
  font-family: "NotoSansKR-Thin";
}
@font-face {
  src: url("../font/cantataone/CantataOne-Regular.ttf") format("truetype");
  font-family: "CantataOne-Regular";
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 92px;
  background-color: #fff;
  transition: height 0.5s;
}
header:hover {
  height: 324px;
}
header .header_wrap {
  width: 100%;
  max-width: 1493.3333333333px;
  height: 100%;
  padding: 0 2%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
header .header_wrap > h1 {
  float: left;
  padding: 29px 0 30px;
}
header .header_wrap .gnb_list {
  width: 54.4666%;
  display: inline-flex;
  justify-content: space-between;
  padding: 37px 0;
}
header .header_wrap .gnb_list > li {
  position: relative;
}
header .header_wrap .gnb_list > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-color: #9988FF;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s;
}
header .header_wrap .gnb_list > li:hover::before {
  opacity: 1;
}
header .header_wrap .gnb_list > li > a {
  font-size: calc(0.8333rem + 0.3472vw);
  font-weight: 500;
}
header .header_wrap .gnb_list > li .lnb_list {
  width: 100%;
  position: absolute;
  top: 100%;
  margin-top: 36px;
}
header .header_wrap .gnb_list > li .lnb_list > li {
  padding-bottom: 21px;
  text-align: center;
}
header .header_wrap .gnb_list > li .lnb_list > li a {
  font-size: calc(0.7083rem + 0.2951vw);
  font-weight: 500;
  color: #818181;
}
header .header_wrap .gnb_btn {
  float: right;
  width: 11%;
  padding: 37px 0 33px;
}
header .header_wrap .gnb_btn a {
  margin-right: 22.7%;
}
header .header_wrap .gnb_btn .btn_search {
  font-size: 0;
}
header .header_wrap .gnb_intro {
  width: 100%;
  margin-top: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_wrap .gnb_intro .title_wrap span {
  padding-bottom: 12px;
  margin-left: -48px;
  font-size: 0.875rem;
}
header .header_wrap .gnb_intro .title_wrap h2 {
  font-family: "CantataOne";
  font-size: 4rem;
  line-height: 1.15;
}
header .header_wrap .gnb_intro > hr {
  width: 31.2%;
  height: 1px;
  transform: translate(30px, 10px);
  background-color: #000;
}
header .header_wrap .gnb_intro > p {
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: right;
  color: #818181;
}

aside {
  position: sticky;
  left: 94%;
  bottom: 7%;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  background-color: #9988ff;
  box-shadow: 0px 4px 11px rgba(85, 85, 85, 0.445);
  cursor: pointer;
}
aside a {
  display: block;
  width: 100%;
  padding: 30% 0;
  text-align: center;
  color: white;
  letter-spacing: 0.7px;
  font-family: "NotoSansKR-Bold";
}

footer .footer_inner {
  margin-top: 2rem;
}
footer .footer_inner .footer_contents {
  width: 100%;
  background-color: black;
}
footer .footer_inner .footer_contents .footer_top {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #818181;
  padding: 2rem 0;
}
footer .footer_inner .footer_contents .footer_top .inner_txt {
  width: 70%;
}
footer .footer_inner .footer_contents .footer_top .inner_txt div a {
  color: white;
  font-family: "NotoSansKR-Regular";
  font-size: 1rem;
  padding-right: 1rem;
}
footer .footer_inner .footer_contents .footer_top .inner_txt div .inner_sns_m {
  width: 28%;
  display: none;
}
footer .footer_inner .footer_contents .footer_top .inner_txt div .inner_sns_m a {
  padding: 0 1rem;
}
footer .footer_inner .footer_contents .footer_top .inner_txt div .inner_sns_m a img {
  width: 24px;
}
footer .footer_inner .footer_contents .footer_top .inner_sns {
  width: 22%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_inner .footer_contents .footer_top .inner_sns a {
  padding: 0 0.5rem;
}
footer .footer_inner .footer_contents .footer_top .inner_sns a img {
  width: 24px;
}
footer .footer_inner .footer_contents .info {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_inner .footer_contents .info .right_txt_m {
  display: none;
  color: white;
  font-family: "NotoSansKR-Regular";
}
footer .footer_inner .footer_contents .info .left_txt {
  width: 80%;
  color: white;
  font-family: "NotoSansKR-Regular";
}
footer .footer_inner .footer_contents .info .left_txt p {
  white-space: pre-line;
  line-height: 1.875rem;
}
footer .footer_inner .footer_contents .info .left_txt p .btn_m {
  display: none;
  color: white;
  font-size: 0.8rem;
  padding: 0.4rem;
  margin-left: 1rem;
  border-radius: 20px;
  background-color: #9988ff;
  font-family: "NotoSansKR-thin";
}
footer .footer_inner .footer_contents .info .left_txt p .btn {
  color: white;
  font-size: 0.8rem;
  padding: 0.4rem;
  margin-left: 1rem;
  border-radius: 20px;
  background-color: #9988ff;
  font-family: "NotoSansKR-thin";
}
footer .footer_inner .footer_contents .info .left_txt span {
  display: inline-block;
  padding-top: 3rem;
  font-size: 0.8rem;
}
footer .footer_inner .footer_contents .info .right {
  width: 18%;
}
footer .footer_inner .footer_contents .info .right .right_txt {
  color: white;
  text-align: right;
}
footer .footer_inner .footer_contents .info .right .right_txt p {
  font-family: "NotoSansKR-Regular";
}
footer .footer_inner .footer_contents .info .right .right_img {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
footer .footer_inner .footer_contents .info .right .right_img p {
  width: 45%;
  display: inline-block;
  text-align: right;
}
footer .footer_inner .footer_contents .info .right .right_img p img {
  width: 50%;
}/*# sourceMappingURL=common.css.map */