* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

body, p, b, figure, h2, h3, h4, h5, h6, div {
  margin: 0px;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img, video {
  vertical-align: middle;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button, input {
  outline-style: none;
  border: none;
}

table {
  border-collapse: collapse;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Black.otf") format("truetype");
  font-family: "NotoSansKR-Black";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Bold.otf") format("truetype");
  font-family: "NotoSansKR-Bold";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Light.otf") format("truetype");
  font-family: "NotoSansKR-Light";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Medium.otf") format("truetype");
  font-family: "NotoSansKR-Medium";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Regular.otf") format("truetype");
  font-family: "NotoSansKR-Regular";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Thin.otf") format("truetype");
  font-family: "NotoSansKR-Thin";
}
@font-face {
  src: url("../font/cantataone/CantataOne-Regular.ttf") format("truetype");
  font-family: "CantataOne-Regular";
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 92px;
  background-color: #fff;
  transition: height 0.5s;
}
header:hover {
  height: 324px;
}
header .header_wrap {
  width: 100%;
  max-width: 1493.3333333333px;
  height: 100%;
  padding: 0 2%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
header .header_wrap > h1 {
  float: left;
  padding: 29px 0 30px;
}
header .header_wrap .gnb_list {
  width: 54.4666%;
  display: inline-flex;
  justify-content: space-between;
  padding: 37px 0;
}
header .header_wrap .gnb_list > li {
  position: relative;
}
header .header_wrap .gnb_list > li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-color: #9988FF;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s;
}
header .header_wrap .gnb_list > li:hover::before {
  opacity: 1;
}
header .header_wrap .gnb_list > li > a {
  font-size: calc(0.8333rem + 0.3472vw);
  font-weight: 500;
}
header .header_wrap .gnb_list > li .lnb_list {
  width: 100%;
  position: absolute;
  top: 100%;
  margin-top: 36px;
}
header .header_wrap .gnb_list > li .lnb_list > li {
  padding-bottom: 21px;
  text-align: center;
}
header .header_wrap .gnb_list > li .lnb_list > li a {
  font-size: calc(0.7083rem + 0.2951vw);
  font-weight: 500;
  color: #818181;
}
header .header_wrap .gnb_btn {
  float: right;
  width: 11%;
  padding: 37px 0 33px;
}
header .header_wrap .gnb_btn a {
  margin-right: 22.7%;
}
header .header_wrap .gnb_btn .btn_search {
  font-size: 0;
}
header .header_wrap .gnb_intro {
  width: 100%;
  margin-top: 105px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_wrap .gnb_intro .title_wrap span {
  padding-bottom: 12px;
  margin-left: -48px;
  font-size: 0.875rem;
}
header .header_wrap .gnb_intro .title_wrap h2 {
  font-family: "CantataOne";
  font-size: 4rem;
  line-height: 1.15;
}
header .header_wrap .gnb_intro > hr {
  width: 31.2%;
  height: 1px;
  transform: translate(30px, 10px);
  background-color: #000;
}
header .header_wrap .gnb_intro > p {
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: right;
  color: #818181;
}

footer {
  width: 100%;
  height: 345px;
  margin: 0 auto;
  background-color: black;
  position: relative;
}
footer .footer-deco {
  width: 100%;
  z-index: -99;
  position: absolute;
  bottom: 70%;
  left: 0;
}
footer .footer-deco img {
  width: 100%;
}
footer .footer-inner {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 0;
}
footer .footer-inner .ft-top {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
footer .footer-inner .ft-top img {
  width: 22px;
  margin-left: 20px;
}
footer .footer-inner .ft-top ul {
  display: flex;
}
footer .footer-inner .ft-top ul li {
  margin-right: 10px;
}
footer .footer-inner .ft-top ul li a {
  color: white;
}
footer .footer-inner .ft-top .ft-top-left {
  width: 60%;
}
footer .footer-inner .ft-top .ft-top-left ul {
  justify-content: space-between;
}
footer .footer-inner .hr {
  width: 100%;
  height: 1px;
  background-color: #818181;
  margin-bottom: 35px;
}
footer .footer-inner .ft-middle {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.9;
}
footer .footer-inner .ft-middle p {
  color: white;
}
footer .footer-inner .ft-middle img:nth-of-type(1) {
  width: 33px;
  height: 36px;
}
footer .footer-inner .ft-middle img:nth-of-type(2) {
  width: 65px;
  height: 40px;
}
footer .footer-inner .ft-middle .ft-middle-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-1 {
  text-align: center;
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-1 P:nth-child(1) {
  font-size: 16px;
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-1 P:nth-child(2) {
  font-weight: 900;
  font-size: 20px;
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-2 {
  display: flex;
  transform: translateY(27px);
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-2 a {
  margin: 10px;
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-2 a img {
  width: 100%;
}
footer .footer-inner .ft-bottom {
  margin-top: 10px;
  font-size: 12px;
}
footer .footer-inner .ft-bottom p {
  color: white;
  letter-spacing: 1px;
}

aside {
  cursor: pointer;
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  background-color: #9988FF;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 0px 4px 11px rgba(85, 85, 85, 0.445);
  display: grid;
  place-items: center;
}
aside div {
  text-transform: uppercase;
  letter-spacing: 0.7px;
}/*# sourceMappingURL=common.css.map */