// 태그기본값 정의, 공통스타일(헤더,버튼,푸터,배너,팝업 등)
// _reset.scss (css문서에서만사용하는것에는 언더바를 붙힘)
// common.css
// 로 정리해서 사용함

// @import "_reset";
// @import "_mixin";
@import "_reset";

*{margin: 0;
    font-family: 'inter';}
    a{text-decoration: none;}
    $wid: 1470px;

header{width: 100%;
    margin: 20px 0;
    article{width: $wid;
            height: 50px;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        div{
            a{
                font-size: 20px;
                color: #000000;
                margin: 0 100px;
                &:hover{font-weight: 700;}}
            h1{}
        }
    }
}





main{
    .bi{
        position: relative;
        a{
            img{width: 100%;}}
            p{
                position: absolute;
                left: 39%; top: 38%;
                color: #FFFFFF;
                font-size: 70px;
                font-style: italic;
            &:hover{font-size: 75px;
            transition: .5s;}}
        }
    }

    .txt{
        margin: 140px 0;
        text-align: center;
        b{
            font-size: 30px;
            &::after{
                content: '';
                margin: 30px auto;
                display:block;
                border: 1px solid black;
                width: 100px;
            };}
        p{
            font-size: 15px;
        }
    }

    .menu{
        width: $wid;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        cursor: pointer;

        div{
            figure:hover{
                transform: translateY(-20px);
                transition: .5s;}
            figcaption{
                text-align: center;
                margin: 40px 0 150px 0;
                font-size: 15px;
            &:hover{font-size: 16px;
            transition: .5s;}}
        }
    }



footer{
    background-image: url('./img/membership_img.jpg');
    background-repeat: no-repeat;
    height: 1000px; width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .mem{
        white-space: pre-line;        
        strong{
            font-size: 30px;
            span{color: #D91226;}
        }
        p{color: #302C2D;
        line-height: 20px;}
        
        .bt{display: flex;
            width: 700px;
            height: 500px;
            margin-right: 300px;
            & div:nth-child(2){
                margin: 0 60px;}
            div{text-align: center;
                a{
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 120px; height: 120px;
                    margin: 0 auto;
                    border-radius: 50%;
                    border: 3px solid #7A7A7A;
                    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
                    cursor: pointer;
                    &:hover{transform: rotateY(360deg);
                        transition: .5s;}
                    img{
                        object-fit: contain;
                        width: 80px; height: 80px;
                    }
                }
                b{color: #444444;}
                p{color: #6E6E6E;}
            

                $icons : (1:stamp, 2:free, 3:order);
                // nth($icons,1)
                // img/#{변수명}.png
                // #은 연결시키는 용도
                // &:nth-of-type(1) a {background: #ffffff url('./img/#{nth($name,1)}.png') center no-repeat;}


                @each $number,$name in $icons{
                    &:nth-of-type(#{$number}) a {background: #ffffff url('./img/#{$name}.png') center no-repeat;}
                }
                
                
            }
        }
    }
}



// @import "_m-self";

// 1. 해상도 문서(디바이스별 사이즈, mixin, media) => _media.scss

// 2. 각 페이지별 반응형 스타일 => m-self.scss




// pc 최적화
// 1. 페이지 코딩(헤더,메인,푸터)
// 2. 공통스타일(헤더, 푸터) reset이나 common파일
// 3. 반응형
//     ㄴ 분기점 파악(_media.scss)
//     ㄴ 각 페이지별 반응형 처리(_m-self.scss)



//     _reset.scss (태그초기화)
//     _common.scss (공통스타일)
//     _media.scss (반응형 분기점 선언)
//         _common.scss을 만들지않고 _reset.scss와 합쳐도 됨

//     공통믹스인(컬러,버튼,팝업,그리드..)
//     _mixin.scss
//     _variable.scss


//     #각 페이지 별 스타일문서
//     index.html  / m-index.scss(mobile, ipad)
//     sub.html / m-sub.scss(mobile, ipad)

//     ------

//     scss폴더 참고
//         component - 영상, 날씨, 폼, 썸네일, 리스트 등
//         config - 초기화
//         layout - 가로, 세로, ui
//         themes - 
//         utils - 버튼, 아이콘 등