.login_wrap{
  width: 100%;
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  figure{
    margin-bottom: 5px;
  }
  h2{
    font-size: 45px;
    color:#5498FF;
    font-family: 'Han_Sans';
    margin-bottom: 50px;
  }
  form{
    input{
      display: block;
      width: 280px;
      height: 45px;
      border-radius: 10px;
      background-color: #5498FF;
      color:#fff;
      font-size: 15px;
      font-family: "NotoSansKR-Medium";
      margin-bottom: 20px;
      &::placeholder{
        color:#9B9B9B;
      }
      &:nth-of-type(1),&:nth-of-type(2){
        background-color: #F5F4F5;
        color:#9B9B9B;
        font-family: "NotoSansKR-Regular";
        padding-left: 20px;
      }
      &:nth-of-type(1){
        margin-bottom: 10px;
      }
      &:nth-of-type(3){
        cursor: pointer;
      }
    }
  }
  .login_txt{
    display: flex;
    font-size: 14px;
    font-family: "NotoSansKR-Regular";
    p{
      color: #707070;
      margin-right: 5px;
    }
    span{
      cursor: pointer;
      color: #9B9B9B;
      border-bottom: 1px solid #9B9B9B;
    }
  }
}