nav {
    background-color: #c4bafd;
    padding: 15px 0;
    text-align: center;
}

nav a {
    color: white;
    padding: 0 20px;
}

main {
    width: 50%;
    margin: 100px auto;
}

article {
    margin: 100px 0;
}

.popup {
    padding: 100px;
    background-color: lightgoldenrodyellow;
    display: none;
}

.popup.active {
    display: block;
}

.scroll figure {
    background-color: #f3fae6;
    height: 500px;
    margin: 100px 0;
    transform: translateX(-100%);
    transition: 1s;
}

.scroll figure.active {
    transform: translateX(0%);
}