main {
    .mp-sec { 
        width: 100%;
        .banner {
            position: relative;
            top: 100px;
            img {
                width: 100%;
                height: 650px;
            }
            .banner-title{
                font-family: "NotoSansKR-Medium";
                font-size: 48px;
                color: white;
                position: absolute;
                top: 17.604%;
                left:  43.9583%;
            }
        }
        .stat-container {
            width: 100%;
            margin-top: 176px;
            .status {
                max-width: 1500px;
                margin: 0 auto;
                width: 100%;
                padding-top: 56px;
                display: flex;
                justify-content: space-between;
                .user-name {
                    display: flex;
                    width: 100%;
                    .user-name-name {
                        display: flex;
                        padding-top: 10px;
                        margin-left: 10px;
                    }
                }
                .status-menu {
                    img {
                        width: 16px;
                    }
                    ul {
                        display: flex;
                        li {
                            width: 125px;
                            margin-left: 49px;
                            &:nth-of-type(1) {
                                width: 190px;
                            }
                            a {
                                display: flex;
                                span {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .welcome {
                max-width: 1500px;
                margin: 0 auto;
                margin-top: 16px;
                margin-bottom: 56px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .welcome-icon {
                    display: flex;
                    align-items: center;
                    img {
                        width: 40px;
                        height: 36px;
                        margin-right: 17px;
                    }
                }
                .welcome-btn {
                    padding-right: 40px;
                    button {
                        width: 162px;
                        height: 43px;
                        color: white;
                        background-color: $purple-color;
                        border-radius: 20px;
                    }
                }
            }
        }
        .status2 {
            width: 100%;
            max-width: 1500px;
            margin: 0 auto;
            margin-top: 157px;
            .status2-title {
                h1 {
                    font-size: 36px;
                    font-family: "NotoSansKR-Bold";
                    margin-bottom: 50px;
                }
            }
            .status2-box {
                display: flex;

                .status-boxs {
                    width: 423px;
                    height: 188px;
                    box-shadow: 0px 2px 15px 0px #00000029;
                    border-radius: 30px;
                    margin-right: 108px;
                    background-color: #f3f3f5;
                    .status2-box-inner {
                        margin-left: 62px;
                        display: flex;
                        align-items: center;
                        margin-top: 74px;
                        .status2-box-inner-icon {
                            margin-right: 15px;
                            img {
                                width: 44px;
                                height: 45px;
                            }
                        }
                        .status2-box-inner-text {
                            p {
                                &:nth-of-type(1) {
                                    color: #c0c0c0;
                                    span {
                                        width: 25px;
                                        height: 25px;
                                        display: inline-block;
                                        border: 1px solid #c0c0c0;
                                        border-radius: 500px;
                                        text-align: center;
                                        padding: 1px;
                                    }
                                }
                                &:nth-of-type(2) {
                                    font-family: "NotoSansKR-Medium";
                                    font-size: 40px;
                                }
                            }
                        }
                    }
                    &.status2-box3 {
                        .status2-box-inner {
                            .status2-box-inner-text {
                                p {
                                    &:nth-of-type(2) {
                                        font-size: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .status2-progress {
                width: 100%;
                height: 2px;
                background-color: #c0c0c0;
                margin-top: 112px;
                margin-bottom: 29px;
                border-radius: 5px;
                .status2-pro-bar {
                    width: 211px;
                    height: 2px;
                    background-color: $purple-color;
                }
            }
            .status2-pro-list {
                width: 100%;
                max-width: 1363px;
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li {
                        display: flex;
                        .status2-list-icon {
                            margin-right: 5px;
                            img {
                                width: 34px;
                                height: 36px;
                            }
                        }
                        .status2-list-text {
                            font-family: "NotoSansKR-Medium";
                            font-size: 14px;
                            p {
                                &:nth-of-type(1) {
                                    line-height: 2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .point-container {
        width: 100%;
        height: 723px;
        margin: 0 auto;
        background-color: #f3f3f5;
        .point-inner {
            width: 100%;
            max-width: 1500px;
            margin: 0 auto;
            margin-top: 86px;
            .point-title {
                padding-top: 86px;
                font-family: "NotoSansKR-Bold";
                h1 {
                    margin-bottom: 50px;
                    font-size: 36px;
                }
            }
            .point-dayselector {
                justify-content: center;
                display: flex;
                align-items: center;
                background-color: #fff;
                border-radius: 10px;
                height: 60px;
                .posel {
                    color: #818181;
                    &:nth-of-type(1) {
                        span {
                            margin-left: 45px;
                        }
                        margin-right: 62px;
                    }
                }
                .posel-sel {
                    display: flex;
                    align-items: center;
                    font-family: "NotoSansKR-Medium";
                    .m {
                        margin-left: 27px;
                        margin-right: 35px;
                        color: #818181;
                    }
                    .po-selector {
                        width: 258px;
                        height: 41px;
                        border-radius: 41px;
                        border: 1px solid #818181;
                        p {
                            text-align: center;
                            padding-top: 8px;
                            position: relative;
                            &:hover {
                                cursor: pointer;
                            }
                            &::after {
                                content: "";
                                width: 20px;
                                height: 11px;
                                display: inline-block;
                                background-image: url(../imgs/icon/under.png);
                                background-size: cover;
                                background-repeat: no-repeat;
                                position: absolute;
                                right: 20px;
                                top: 15px;
                            }
                        }
                    }
                }
                .posel-input {
                    display: flex;
                    align-items: center;
                    width: 316px;
                    justify-content: space-between;
                    margin-right: 152px;
                    &:hover {
                        cursor: pointer;
                    }
                    p {
                        color: #818181;
                        &:nth-of-type(2n) {
                            transform: translateX(-10px);
                        }
                    }
                    .posel-circle {
                        width: 13px;
                        height: 13px;
                        border-radius: 10px;
                        border: 1px solid $purple-color;
                        margin-right: 9px;
                    }
                }
                .posel-btn {
                    margin-left: 60px;
                    button {
                        width: 57px;
                        height: 45px;
                        background-color: $purple-color;
                        border-radius: 20px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .point-board {
                margin-top: 21px;
                border-radius: 10px;
                width: 100%;
                height: 75px;
                background-color: rgba(153, 136, 255, 20%);
                .p-board-title {
                    ul {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        li {
                            font-family: "NotoSansKR-Bold";
                            font-size: 18px;
                            line-height: 2;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: relative;
                            &:nth-of-type(1) {
                                width: 213px;
                            }
                            &:nth-of-type(2) {
                                width: 213px;
                            }
                            &:nth-of-type(3) {
                                width: 852px;
                            }
                            &:nth-of-type(4) {
                                width: 213px;
                                &::after {
                                    content: "";
                                    width: 0px;
                                    height: 0px;
                                }
                            }
                            &::after {
                                content: "";
                                width: 1px;
                                height: 20px;
                                background-color: #818181;
                                position: absolute;
                                right: 0;
                            }
                        }
                    }
                }
                .p-board-neyong {
                    background-color: #fff;
                    height: 268px;
                    text-align: center;
                    border-radius: 0px 0px 10px 10px;
                    p {
                        padding-top: 112px;
                        font-family: "NotoSansKR-Bold";
                        font-size: 18px;
                        color: #818181;
                    }
                }
            }
        }
    }
    .exhibition {
        .exhibition-inner {
            width: 100%;
            max-width: 1500px;
            margin: 0 auto;
            .exhibition-title {
                margin-top: 117px;
                margin-bottom: 61px;
                font-family: "NotoSansKR-Bold";
                line-height: 2;
                h1 {
                    font-size: 36px;
                }
                p {
                    color: #c0c0c0;
                    font-size: 16px;
                }
            }
            .exhibition-table {
                .exhibition-th {
                    height: 75px;
                    border-top: 1px solid $purple-color;
                    border-bottom: 1px solid $purple-color;
                    ul {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        li {
                            text-align: center;
                            font-size: 18px;
                            font-family: "NotoSansKR-Bold";
                            margin-top: 24px;
                            display: flex;
                            justify-content: center;
                            position: relative;
                            &:nth-of-type(1) {
                                width: 140px;
                            }
                            &:nth-of-type(2) {
                                width: 406px;
                            }
                            &:nth-of-type(3) {
                                width: 406px;
                            }
                            &:nth-of-type(4) {
                                width: 166px;
                            }
                            &:nth-of-type(5) {
                                width: 250px;
                            }
                            &:nth-of-type(6) {
                                width: 140px;
                                &::after {
                                    content: "";
                                    width: 0px;
                                    height: 0px;
                                }
                            }
                            &::after {
                                content: "";
                                width: 1px;
                                height: 24px;
                                background-color: #c0c0c0;
                                display: inline-flex;
                                position: absolute;
                                right: 0;
                            }
                        }
                    }
                }
                .exhibition-td {
                    ul {
                        display: flex;
                        justify-content: space-between;
                        border-bottom: 1px solid $purple-color;
                        li {
                            margin-top: 47px;
                            text-align: center;
                            padding-bottom: 47px;
                            font-size: 18px;
                            color: #818181;
                            font-family: "NotoSansKR-Bold";
                            &:nth-of-type(1) {
                                width: 140px;
                            }
                            &:nth-of-type(2) {
                                width: 406px;
                            }
                            &:nth-of-type(3) {
                                width: 406px;
                            }
                            &:nth-of-type(4) {
                                width: 166px;
                            }
                            &:nth-of-type(5) {
                                width: 250px;
                            }
                            &:nth-of-type(6) {
                                width: 140px;
                            }
                            &.exhibition-delete {
                                button {
                                    width: 97px;
                                    height: 36px;
                                    color: white;
                                    border-radius: 20px;
                                    border: 1px solid white;
                                    font-family: "NotoSansKR-Bold";
                                    font-size: 18px;
                                    background-color: #c0c0c0;
                                    box-shadow: 0px 2px 15px 0px #00000029;
                                    &:hover {
                                        cursor: pointer;
                                        background-color: $purple-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pagenumber {
        width: 100%;
        max-width: 107px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        margin-top: 43px;
        margin-bottom: 223px;
        span {
            &:nth-of-type(1) {
                &:hover {
                    cursor: pointer;
                }
            }
            &:nth-of-type(2) {
                font-family: "NotoSansKR-Bold";
                color: #c0c0c0;
                margin-left: 33px;
                margin-right: 33px;
            }
            &:nth-of-type(3) {
                img {
                    transform: rotate(180deg);
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
