@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

body, p, b, figure, h2, h3, h4, h5, h6, div {
  margin: 0px;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img, video {
  vertical-align: middle;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button, input {
  outline-style: none;
  border: none;
}

table {
  border-collapse: collapse;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Black.otf") format("truetype");
  font-family: "NotoSansKR-Black";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Bold.otf") format("truetype");
  font-family: "NotoSansKR-Bold";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Light.otf") format("truetype");
  font-family: "NotoSansKR-Light";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Medium.otf") format("truetype");
  font-family: "NotoSansKR-Medium";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Regular.otf") format("truetype");
  font-family: "NotoSansKR-Regular";
}
@font-face {
  src: url("../font/NotoSansKR/NotoSansKR-Thin.otf") format("truetype");
  font-family: "NotoSansKR-Thin";
}
@font-face {
  src: url("../font/cantataone/CantataOne-Regular.ttf") format("truetype");
  font-family: "CantataOne-Regular";
}
header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
}
header:hover {
  height: 300px;
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
}
header:hover .head_drop_box {
  display: block;
}
header:hover .head_bar .head_title .head_inner {
  display: block;
}
header .head_bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
}
header .head_bar h2 {
  width: 10%;
}
header .head_bar h2 a {
  width: 80%;
  display: inline-block;
}
header .head_bar h2 a img {
  width: 100%;
}
header .head_bar .head_title {
  width: 48%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
header .head_bar .head_title li {
  width: 100%;
  position: relative;
}
header .head_bar .head_title li a {
  display: block;
  padding: 28px 0;
  font-size: 18px;
  font-family: "NotoSansKR-Medium";
}
header .head_bar .head_title li .head_inner {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
header .head_bar .head_title li .head_inner li {
  display: block;
}
header .head_bar .head_title li .head_inner li > a {
  padding: 10px 0;
  color: #818181;
  font-size: 16px;
  font-family: "NotoSansKR-Regular";
}
header .head_bar .head_icon {
  width: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head_bar .head_icon a {
  width: 30%;
  text-align: center;
}
header .head_bar .head_icon a p {
  display: inline-block;
  width: 24%;
}
header .head_bar .head_icon a p img {
  width: 100%;
}
header .head_drop_box {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10%;
}
header .head_drop_box .head_drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
header .head_drop_box .head_drop .sejong_head_txt {
  width: 32%;
}
header .head_drop_box .head_drop .sejong_head_txt p {
  font-size: 14px;
  font-family: "NotoSansKR-Regular";
}
header .head_drop_box .head_drop .sejong_head_txt b {
  font-family: "CantataOne-Regular";
  font-weight: 100;
  font-size: 48px;
}
header .head_drop_box .head_drop .head_line {
  width: 26%;
}
header .head_drop_box .head_drop .head_line span {
  display: block;
  width: 100%;
  height: 1px;
  border: 1px solid #818181;
}
header .head_drop_box .head_drop .sejong_explanation {
  width: 32%;
}
header .head_drop_box .head_drop .sejong_explanation p {
  font-size: 14px;
  white-space: pre-line;
  text-align: right;
  color: #818181;
  font-family: "NotoSansKR-Regular";
}

main {
  overflow: hidden;
}
main .main-inner {
  position: relative;
}
main .main-inner .banner {
  position: relative;
  top: 0;
}
main .main-inner .banner .mySwiper {
  width: 100%;
  height: 100%;
  z-index: 0;
}
main .main-inner .banner .mySwiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-inner .banner .mySwiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main-inner .banner .mySwiper .banner_btn {
  position: absolute;
  left: 25%;
  bottom: 28%;
  z-index: 1;
}
main .main-inner .banner .mySwiper .banner_btn > button {
  color: #ffffff;
  background-color: #000;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  border: 2px solid white;
  border-radius: 25px;
  font-size: 20px;
  font-family: "NotoSansKR-Medium";
  cursor: pointer;
}
main .main-inner .banner .mySwiper .banner_btn > button:hover {
  background-color: #9988ff;
  transition: 0.5s;
}
main .main-inner .banner .mySwiper .small_thumb {
  position: absolute;
  left: 0;
  bottom: -24%;
  cursor: pointer;
  z-index: 1;
  transition: 1s;
  animation: thumb1 1.5s forwards;
}
main .main-inner .banner .mySwiper .small_thumb:hover {
  animation: thumb2 1s forwards;
}
@keyframes thumb1 {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -24%;
  }
}
@keyframes thumb2 {
  0% {
    bottom: -24%;
  }
  100% {
    bottom: 0%;
  }
}
main .main-inner .banner .mySwiper .small_thumb .open_arrow {
  text-align: center;
  padding-bottom: 4%;
  height: auto;
}
main .main-inner .banner .mySwiper .small_thumb .open_arrow .material-symbols-outlined {
  color: rgb(255, 255, 255);
  font-size: 38px;
  font-weight: 500;
}
main .main-inner .banner .mySwiper .small_thumb .thumb_box {
  width: 100%;
  padding: 2% 0;
  background-color: rgba(209, 209, 209, 0.58);
}
main .main-inner .banner .mySwiper .small_thumb .thumb_box .thumb {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
main .main-inner .banner .mySwiper .small_thumb .thumb_box .thumb li {
  width: 80%;
}
main .main-inner .banner .mySwiper .small_thumb .thumb_box .thumb li p {
  width: 70%;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
}
main .main-inner .banner .mySwiper .small_thumb .thumb_box .thumb li p img {
  width: 100%;
}
main .main-inner .banner .search {
  width: 100%;
}
main .main-inner .banner .search .search_box {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #9988ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .main-inner .banner .search .search_box .search_date {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .main-inner .banner .search .search_box .search_date p {
  display: inline-block;
}
main .main-inner .banner .search .search_box .search_txt {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .main-inner .banner .search .search_box .search_txt p {
  display: inline-block;
}
main .popularity {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
main .popularity .popularity-back {
  width: 1920px;
  font-size: 130px;
  opacity: 0.5;
  left: 0;
  text-align: center;
  position: absolute;
  bottom: 2%;
}
main .popularity .popularity-back .text-loop {
  font-weight: 900;
  white-space: nowrap;
  -webkit-text-stroke: 2px #9988ff;
  /* 텍스트 스트로크 설정 (웹킷 브라우저용) */
  text-stroke: 2px #9988ff;
  /* 텍스트 스트로크 설정 (표준) */
  color: white;
  animation: moveText 6s linear infinite, fadeText 10s ease-in-out infinite alternate;
}
@keyframes moveText {
  100% {
    transform: translateX(-84%);
  }
}
main .popularity .popularity-text .popularity-deco {
  width: 73px;
  height: 2px;
  background-color: black;
  margin-bottom: 16px;
}
main .popularity .popularity-text .popularity-title p:nth-of-type(1) {
  color: #818181;
  margin-bottom: 16px;
}
main .popularity .popularity-text .popularity-title p:nth-of-type(2) {
  line-height: 1.8;
  color: #818181;
}
main .popularity .popularity-text .popularity-title h2 {
  font-size: 42px;
  margin-bottom: 16px;
  position: relative;
}
main .popularity .popularity-text .popularity-title h2 .p-ani {
  display: flex;
  position: absolute;
  bottom: -9px;
  z-index: -1;
}
main .popularity .popularity-text .popularity-title h2 .p-ani p:nth-of-type(1) {
  width: 0px;
  height: 20px;
  background-color: #9988ff;
  border-radius: 30px;
  margin-right: 20px;
  transition: width 0.3s ease;
}
main .popularity .popularity-text .popularity-title h2 .p-ani p:nth-of-type(1).active {
  width: 249px;
}
main .popularity .popularity-text .popularity-title h2 .p-ani p:nth-of-type(2) {
  width: 20px;
  height: 20px;
  opacity: 0;
  background-color: #9988ff;
  border-radius: 30px;
  transition: 1s;
  transform: translateY(-10px);
}
main .popularity .popularity-text .popularity-title h2 .p-ani p:nth-of-type(2).active {
  opacity: 1;
  transform: translateY(0px);
}
@keyframes p-ani {}
main .popularity .popularity-text .popularity-title .slide-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
main .popularity .popularity-text .popularity-title .slide-btn img {
  width: 19px;
}
main .popularity .popularity-text .popularity-title .slide-btn .bullet-con {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  margin-left: 10px;
}
main .popularity .popularity-text .popularity-title .slide-btn .bullet-con .bullet {
  width: 150px;
  height: 5px;
  background-color: #eee;
  margin: 0 10px;
}
main .popularity .popularity-text .popularity-title .slide-btn .bullet-con .bullet .bullet-color {
  width: 13px;
  height: 5px;
  background-color: #9988ff;
  z-index: 99;
  border-radius: 20px;
}
main .popularity .popularity-text .popularity-title .slide-btn .bullet-con .auto-count {
  font-weight: 600;
  color: #818181;
}
main .popularity .popularity-text .popularity-title .slide-btn .bullet-con .auto-count span {
  color: #000;
}
main .popularity .popularity-text .popularity-title .slide-btn .prev {
  transform: translateY(-4px);
  margin-right: 10px;
}
main .popularity .popularity-text .popularity-title .slide-btn .prev:hover {
  cursor: pointer;
}
main .popularity .popularity-text .popularity-title .slide-btn .next img {
  transform: translateY(-4px);
  margin-left: 20px;
}
main .popularity .popularity-text .popularity-title .slide-btn .next:hover {
  cursor: pointer;
}
main .popularity .popularity-content {
  overflow-x: hidden;
}
main .popularity .popularity-content .swiper-con {
  display: flex;
  padding-top: 150px;
  width: 858px;
  animation-name: slide;
  animation: slide 50s infinite;
}
main .popularity .popularity-content .swiper-con.active {
  transform: translateX(-100%);
  transition: 0.5s;
}
main .popularity .popularity-content .swiper-con .pp-content {
  margin-right: 70px;
  position: relative;
}
main .popularity .popularity-content .swiper-con .pp-content:nth-of-type(1) {
  transform: translateY(-100px);
}
main .popularity .popularity-content .swiper-con .pp-content:hover .pp-hover {
  display: block;
  transition: 0.5s;
}
main .popularity .popularity-content .swiper-con .pp-content.pp-contents.active {
  transform: translateY(-100px);
  transition: 0.5s;
}
main .popularity .popularity-content .swiper-con .pp-content img {
  width: 384px;
  height: 556px;
  border-radius: 30px;
}
main .popularity .popularity-content .swiper-con .pp-content .pp-hover {
  width: 100%;
  height: 556px;
  position: absolute;
  z-index: 99;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  display: none;
}
main .popularity .popularity-content .swiper-con .pp-content .pp-hover .pp-btn-con {
  width: 100%;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
}
main .popularity .popularity-content .swiper-con .pp-content .pp-hover .pp-btn-con button {
  width: 97px;
  height: 42px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: #9988ff;
  color: white;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.3);
}
main .popularity .popularity-content .swiper-con .pp-content .pp-hover .pp-btn-con button:hover {
  cursor: pointer;
  background-color: #9988ff;
  transition: 0.5s;
}
main .popularity .popularity-content .swiper-con .pp-content .pp-hover .pp-btn-con button:nth-of-type(1) {
  margin-right: 21px;
}
main .Sejong {
  width: 100%;
  margin-top: 200px;
  background-color: #f3f3f5;
  padding: 182px 0px 176px 10px;
}
main .Sejong .Sejong-inner {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .Sejong .Sejong-inner .Sejong-box {
  display: flex;
  width: 1084px;
}
main .Sejong .Sejong-inner .Sejong-box:hover {
  cursor: pointer;
}
main .Sejong .Sejong-inner .Sejong-box .S-boxs {
  position: relative;
  margin-right: 20px;
}
main .Sejong .Sejong-inner .Sejong-box .S-boxs .se-box-con {
  width: 100%;
  max-width: 632px;
  height: 263px;
  position: absolute;
  top: 347px;
  left: 36px;
  right: 33px;
  bottom: 39px;
  background-color: rgba(255, 255, 255, 0.78);
  border-radius: 20px;
  display: none;
}
main .Sejong .Sejong-inner .Sejong-box .S-boxs .se-box-con.firstboxcon {
  display: block;
}
main .Sejong .Sejong-inner .Sejong-box .S-boxs .se-box-con .s-b-c-c {
  position: absolute;
  top: 36px;
  left: 27px;
}
main .Sejong .Sejong-inner .Sejong-box .S-boxs .se-box-con .s-b-c-c h1 {
  margin-bottom: 6px;
}
main .Sejong .Sejong-inner .Sejong-box .S-boxs .se-box-con .s-b-c-c p {
  line-height: 30px;
}
main .Sejong .Sejong-inner .Sejong-box .S-boxs .se-box-con .s-b-c-c p:nth-of-type(2) {
  margin-bottom: 25px;
}
main .Sejong .Sejong-inner .Sejong-box .S-boxs .se-box-con .s-b-c-c button {
  cursor: pointer;
  width: 178px;
  height: 60px;
  background-color: #fff;
  color: #818181;
  border-radius: 46px;
}
main .Sejong .Sejong-inner .Sejong-box .Sejong-box1 {
  width: 701px;
  overflow: hidden;
  transition: width 0.3s ease;
  border-radius: 30px;
}
main .Sejong .Sejong-inner .Sejong-box .Sejong-box1 img {
  height: 649px;
}
main .Sejong .Sejong-inner .Sejong-box .Sejong-box2 {
  width: 165px;
  overflow: hidden;
  border-radius: 30px;
  transition: width 0.3s ease;
}
main .Sejong .Sejong-inner .Sejong-box .Sejong-box2 img {
  height: 649px;
}
main .Sejong .Sejong-inner .Sejong-box .Sejong-box3 {
  width: 165px;
  overflow: hidden;
  border-radius: 30px;
  transition: width 0.3s ease;
}
main .Sejong .Sejong-inner .Sejong-box .Sejong-box3 img {
  height: 649px;
}
main .Sejong .Sejong-inner .Sejong-text {
  text-align: right;
  position: relative;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 16px;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-title .p-animation2 {
  display: flex;
  font-size: 42px;
  position: relative;
  z-index: 99;
  text-align: right;
  justify-content: right;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-title .p-animation2 .p-ani {
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: flex;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-title .p-animation2 .p-ani p.puplewidth2 {
  width: 0px;
  height: 20px;
  background-color: #9988ff;
  border-radius: 30px;
  transition: width 0.3s ease;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-title .p-animation2 .p-ani p.puplewidth2.active {
  width: 165px;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-title .p-animation2 .p-ani p.puplecircle2 {
  width: 20px;
  height: 20px;
  opacity: 0;
  background-color: #9988ff;
  border-radius: 30px;
  transition: 1s;
  transform: translateY(-10px);
  margin-right: 10px;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-title .p-animation2 .p-ani p.puplecircle2.active {
  opacity: 1;
  transform: translateY(0px);
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-deco {
  position: absolute;
  right: 0;
  width: 73px;
  height: 2px;
  background-color: black;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-title-top {
  padding-top: 16px;
  font-size: 16px;
  color: #818181;
  margin-bottom: 16px;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-sub {
  color: #818181;
  margin-bottom: 16px;
  line-height: 1.8;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-btn {
  font-family: "NotoSansKR-Regular";
  font-size: 18px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 30px;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-btn button {
  width: 34px;
  height: 34px;
  border-radius: 200px;
  background-color: #9988ff;
  background-image: url(../imgs/icon/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 18px;
  outline-style: none;
  border: none;
  margin-left: 16px;
}
main .Sejong .Sejong-inner .Sejong-text .Sejong-btn button:hover {
  cursor: pointer;
}
main .event {
  overflow: hidden;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 160px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 150px;
}
main .event .event-cotent {
  min-width: 806px;
  transform: translateX(-20px);
}
main .event .event-cotent .event-deco-ani {
  font-size: 150px;
  letter-spacing: -15px;
  position: absolute;
  display: flex;
  top: 0;
  transform: rotate(-90deg);
  left: -10%;
  color: rgba(154, 136, 255, 0.3960784314);
  font-weight: bold;
  z-index: -1;
  animation: abcd 5s linear infinite;
}
@keyframes abcd {
  0% {
    transform: translateX(0);
    rotate: -90deg;
  }
  100% {
    top: 0;
    left: -15%;
    rotate: -90deg;
    transform: translateX(84%);
  }
}
main .event .event-cotent .event-deco-ani .event-deco-ani {
  display: flex;
  flex-direction: column;
}
main .event .event-box img {
  width: 264px;
  height: 109px;
  border-radius: 30px;
  border: solid 3px #9988ff;
}
main .event .event-box .event-box1 {
  width: 806px;
  height: 139px;
  background-color: #9988ff;
  border-radius: 30px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 30px;
  font-weight: bold;
}
main .event .event-box .event-box1 p:nth-of-type(1) {
  color: white;
  font-size: 16px;
  margin: 10px 0;
}
main .event .event-box .event-box1 p:nth-of-type(2) {
  font-size: 24px;
  margin-bottom: 1px;
}
main .event .event-box .event-box1 p:nth-of-type(3) {
  font-size: 24px;
  margin-bottom: 10px;
}
main .event .event-box .event-box1.active {
  animation: ssss 0.5s forwards;
}
@keyframes ssss {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-47px);
  }
  100% {
    transform: translateX(0);
  }
}
main .event .event-box .event-box2 {
  width: 806px;
  height: 139px;
  border-radius: 30px;
  background-color: #f3f3f5;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 30px;
  font-weight: bold;
}
main .event .event-box .event-box2 p:nth-of-type(1) {
  color: #9988ff;
  font-size: 16px;
  margin: 10px 0;
}
main .event .event-box .event-box2 p:nth-of-type(2) {
  font-size: 24px;
  margin-bottom: 1px;
}
main .event .event-box .event-box2 p:nth-of-type(3) {
  font-size: 24px;
  margin-bottom: 10px;
}
main .event .event-box .event-box2.active {
  animation: ssss 1.5s forwards;
}
@keyframes ssss {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-47px);
  }
  100% {
    transform: translateX(0);
  }
}
main .event .event-box .event-box3 {
  width: 806px;
  height: 139px;
  border-radius: 30px;
  background-color: #f3f3f5;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 30px;
  font-weight: bold;
}
main .event .event-box .event-box3 p:nth-of-type(1) {
  color: #9988ff;
  font-size: 16px;
  margin: 10px 0;
}
main .event .event-box .event-box3 p:nth-of-type(2) {
  font-size: 24px;
  margin-bottom: 1px;
}
main .event .event-box .event-box3 p:nth-of-type(3) {
  font-size: 24px;
  margin-bottom: 10px;
}
main .event .event-box .event-box3.active {
  animation: ssss 2.5s forwards;
}
@keyframes ssss {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-47px);
  }
  100% {
    transform: translateX(0);
  }
}
main .event .event-box .event-box4 {
  width: 806px;
  height: 139px;
  border-radius: 30px;
  background-color: #f3f3f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 30px;
  font-weight: bold;
}
main .event .event-box .event-box4 p:nth-of-type(1) {
  color: #9988ff;
  font-size: 16px;
  margin: 10px 0;
}
main .event .event-box .event-box4 p:nth-of-type(2) {
  font-size: 24px;
  margin-bottom: 1px;
}
main .event .event-box .event-box4 p:nth-of-type(3) {
  font-size: 24px;
  margin-bottom: 10px;
}
main .event .event-box .event-box4.active {
  animation: ssss 3s forwards;
}
@keyframes ssss {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-47px);
  }
  100% {
    transform: translateX(0);
  }
}
main .event .event-box .event-boxs {
  width: 1px;
  box-shadow: rgba(150, 150, 150, 0.4941176471) 1px 2px 15px;
}
main .event .event-box .event-boxs .box-text p {
  letter-spacing: -1px;
  font-size: 1.2rem;
}
main .event .event-box .event-boxs .box-text p:nth-of-type(1) {
  font-size: 1rem;
  letter-spacing: 0px;
}
main .event .event-box .event-boxs.active {
  width: 100%;
  /* 너비를 100%로 늘림 */
  opacity: 1;
}
main .event .event-box .event-boxs.active .box-text {
  opacity: 1;
}
main .event .event-box .event-boxs.active .box-sumnail {
  opacity: 1;
}
main .event .event-text {
  text-align: left;
}
main .event .event-text .event-deco {
  width: 73px;
  height: 2px;
  background-color: black;
  margin-bottom: 16px;
}
main .event .event-text .event-deco2 {
  width: 574px;
  height: 574px;
  background-color: black;
  border-radius: 500px;
  z-index: -2;
  position: absolute;
  top: 20%;
  left: 20%;
}
main .event .event-text .event-title-top {
  color: #818181;
  margin-bottom: 16px;
}
main .event .event-text .event-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 16px;
}
main .event .event-text .event-title h2 {
  display: flex;
  font-size: 42px;
  position: relative;
  z-index: 99;
  text-align: right;
  justify-content: left;
}
main .event .event-text .event-title h2 .p-ani {
  position: absolute;
  bottom: 8px;
  z-index: -1;
  display: flex;
  align-items: center;
}
main .event .event-text .event-title h2 .p-ani p.puplewidth3 {
  width: 0;
  height: 20px;
  background-color: #9988ff;
  border-radius: 30px;
  transition: width 0.3s ease;
}
main .event .event-text .event-title h2 .p-ani p.puplewidth3.active {
  width: 130px;
}
main .event .event-text .event-title h2 .p-ani p.puplecircle3 {
  width: 20px;
  height: 20px;
  opacity: 0;
  background-color: #9988ff;
  border-radius: 30px;
  transition: 1s;
  transform: translateY(-10px);
  margin-left: 10px;
}
main .event .event-text .event-title h2 .p-ani p.puplecircle3.active {
  opacity: 1;
  transform: translateY(0px);
}
main .event .event-text .event-sub {
  line-height: 1.8;
  color: #818181;
}
main .coronation {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .coronation .coronation-text .coronation-deco {
  width: 73px;
  height: 2px;
  background-color: black;
  margin-bottom: 16px;
}
main .coronation .coronation-text .coronation-title-top {
  color: #818181;
  margin-bottom: 16px;
}
main .coronation .coronation-text .coronation-title h2 {
  color: black;
  font-size: 42px;
  font-family: "NotoSansKR-Bold";
  display: flex;
  font-size: 42px;
  position: relative;
  z-index: 99;
  text-align: right;
  justify-content: left;
  margin-bottom: 16px;
}
main .coronation .coronation-text .coronation-title h2 .p-ani {
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: flex;
}
main .coronation .coronation-text .coronation-title h2 .p-ani p.puplewidth4 {
  width: 0px;
  height: 20px;
  background-color: #9988ff;
  border-radius: 30px;
  transition: width 0.3s ease;
}
main .coronation .coronation-text .coronation-title h2 .p-ani p.puplewidth4.active {
  width: 160px;
}
main .coronation .coronation-text .coronation-title h2 .p-ani p.puplecircle4 {
  width: 20px;
  height: 20px;
  opacity: 1;
  background-color: #9988ff;
  border-radius: 30px;
  transition: 1s;
  transform: translateY(-10px);
  margin-left: 10px;
}
main .coronation .coronation-text .coronation-title h2 .p-ani p.puplecircle4.active {
  opacity: 1;
  transform: translateY(0px);
}
main .coronation .coronation-text .coronation-sub {
  color: #818181;
  line-height: 1.8;
  width: 115%;
}
main .coronation .coronation-btn {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 30px;
}
main .coronation .coronation-btn p {
  margin-right: 16px;
}
main .coronation .coronation-btn button {
  width: 34px;
  height: 34px;
  background-color: #9988ff;
  border-radius: 500px;
  border: none;
  outline-style: none;
  background-image: url(../imgs/icon/Vector.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 18px;
}
main .coronation .coronation-btn button:hover {
  cursor: pointer;
}
main .coronation .coronation-board {
  width: 100%;
}
main .coronation .coronation-board .board-box {
  display: flex;
  font-family: "NotoSansKR-Medium";
  width: 100%;
}
main .coronation .coronation-board .board-box ul {
  display: flex;
  flex-direction: column;
}
main .coronation .coronation-board .board-box ul li {
  width: 100%;
  margin-bottom: 20%;
}
main .coronation .coronation-board .board-box ul:nth-of-type(1) {
  margin-left: 20%;
}
main .coronation .coronation-board .board-box span {
  display: inline-block;
  border: solid 1px rgba(129, 129, 129, 0.2941176471);
  width: 1px;
  height: 550px;
  margin: 0 11% 0 8%;
}
main .coronation .coronation-board .board-box .board-yeal {
  font-size: 16px;
  color: #9988ff;
  margin-bottom: 5px;
}
main .coronation .coronation-board .board-box .board-title {
  font-size: 24px;
  margin-bottom: 24px;
}
main .coronation .coronation-board .board-box .board-sub {
  color: #818181;
  line-height: 160%;
  width: 95%;
  font-size: 16px;
  font-family: "NotoSansKR-Regula";
  white-space: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

footer {
  width: 100%;
  height: 345px;
  margin: 0 auto;
  background-color: black;
  position: relative;
}
footer .footer-deco {
  width: 100%;
  z-index: -99;
  position: absolute;
  bottom: 70%;
  left: 0;
}
footer .footer-deco img {
  width: 100%;
}
footer .footer-inner {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 30px 0;
}
footer .footer-inner .ft-top {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
footer .footer-inner .ft-top img {
  width: 22px;
  margin-left: 20px;
}
footer .footer-inner .ft-top ul {
  display: flex;
}
footer .footer-inner .ft-top ul li {
  margin-right: 10px;
}
footer .footer-inner .ft-top ul li a {
  color: white;
}
footer .footer-inner .ft-top .ft-top-left {
  width: 60%;
}
footer .footer-inner .ft-top .ft-top-left ul {
  justify-content: space-between;
}
footer .footer-inner .hr {
  width: 100%;
  height: 1px;
  background-color: #818181;
  margin-bottom: 35px;
}
footer .footer-inner .ft-middle {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.9;
}
footer .footer-inner .ft-middle p {
  color: white;
}
footer .footer-inner .ft-middle img:nth-of-type(1) {
  width: 33px;
  height: 36px;
}
footer .footer-inner .ft-middle img:nth-of-type(2) {
  width: 65px;
  height: 40px;
}
footer .footer-inner .ft-middle .ft-middle-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-1 {
  text-align: center;
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-1 P:nth-child(1) {
  font-size: 16px;
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-1 P:nth-child(2) {
  font-weight: 900;
  font-size: 20px;
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-2 {
  display: flex;
  transform: translateY(27px);
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-2 a {
  margin: 10px;
}
footer .footer-inner .ft-middle .ft-middle-right .f-m-r-2 a img {
  width: 100%;
}
footer .footer-inner .ft-bottom {
  margin-top: 10px;
  font-size: 12px;
}
footer .footer-inner .ft-bottom p {
  color: white;
  letter-spacing: 1px;
}/*# sourceMappingURL=index.css.map */