@import url('./reset.css');

article
{width: 1400px;}
article> .top
{text-align: center;
font-size: 2rem;}
.all
{display: flex;
flex-wrap: wrap;
justify-content: space-between;}
.all> .con{
width: 40%;
margin-top: 20px;
display: flex;
justify-content: center;
align-items: center;}
.all> .con > div 
{width: 50%;}
.all> .con > div > img
{width: 260px; height: 180px;}
.all> .con > div > b
{font-size: 30px;}
.all> .con > div > p
{font-size: 20px;}