body {
    background-color: black;
    color: white;
}

.div {
    width: 100%;
    
}

.figure {
    background-color: rgba(240, 248, 255, 0.5);
    width: 60%;
    height: 50vh;
    margin: 14rem auto;
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.img {
    width: 24%;
    border-radius: 20px;
}

.figcaption {
    width: 70%;
}

.h2 {
    font-size: 36px;
    margin: 0;
}

.p {
    padding-left: 1rem;
}

.span {
    padding-left: 1rem;
}