* {
  text-decoration: none;
}

a {
  color: black;
}

header {}

header a {
  padding: 0 30px;
  font-weight: bold;
}

main {
  padding: 10%;
  background-color: rgba(128, 128, 128, 0.219);
}

.txt {
  color: rgb(255, 113, 47);
  font-weight: bold;
}