* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img,
video {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

em,
address {
  font-style: normal;
}

button,
input {
  border: none;
  outline-style: none;
  background-color: transparent;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

// λ…Έν† μ‚°μ¤
@font-face {
  src: url("../public/font/NotoSansKR-Black.otf") format("truetype");
  font-family: "NotoSansKR-Black";
  font-weight: 900;
}

@font-face {
  src: url("../public/font/NotoSansKR-Bold.otf") format("truetype");
  font-family: "NotoSansKR-Bold";
  font-weight: 700;
}

@font-face {
  src: url("../public/font/NotoSansKR-Light.otf") format("truetype");
  font-family: "NotoSansKR-Light";
  font-weight: 300;
}

@font-face {
  src: url("../public/font/NotoSansKR-Medium.otf") format("truetype");
  font-family: "NotoSansKR-Medium";
  font-weight: 500;
}

@font-face {
  src: url("../public/font/NotoSansKR-Regular.otf") format("truetype");
  font-family: "NotoSansKR-Regular";
  font-weight: 400;
}

@font-face {
  src: url("../public/font/NotoSansKR-Thin.otf") format("truetype");
  font-family: "NotoSansKR-Thin";
  font-weight: 100;
}

@font-face {
  src: url('../public/font/BlackHanSans-Regular.ttf') format('truetype');
  font-family: 'Han_Sans';
  font-weight: normal;
}