@import url("./_reset.scss");
body {
  background: url(./background_image.jpeg);
  width: 100%;
}

.intro {
  position: relative;
}
.intro .videobox {
  position: relative;
}
.intro .videobox video {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.intro .logo {
  position: absolute;
  left: 0;
  bottom: 16%;
}
.intro .logo p {
  width: 80%;
  display: inline-block;
  text-align: center;
}
.intro .logo p img {
  width: 50%;
}

header {
  width: 100%;
}
header .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}
header .head a {
  width: 7%;
  text-align: center;
}
header .head a img {
  width: 50%;
}
header .head .heart {
  display: none;
}
header .head h2 {
  width: 16%;
  color: #e0ceaa;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.875rem;
  font-family: "font_zelda";
  font-weight: 0;
}

main {
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  display: flex;
}
main aside {
  height: fit-content;
  width: 10%;
  position: sticky;
  top: 100px;
}
main aside .category {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}
main aside .category a {
  width: 100%;
  margin-bottom: 1rem;
}
main aside .category a img {
  width: 100%;
}
main aside .category a.active img {
  width: 100%;
  box-shadow: 0px 0px 7px 6px rgba(1, 242, 255, 0.5);
}
main aside .toggle {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main aside .toggle .menu {
  opacity: 0;
  background-color: #332624;
  text-align: center;
  padding: 1rem 0;
}
main aside .toggle .menu a {
  width: 80%;
  margin: 0 auto;
  padding: 0.8rem;
}
main aside .toggle .menu a img {
  width: 100%;
}
main aside .toggle .menu.on {
  transition: 0.3s;
  opacity: 1;
  background-color: #332624;
  text-align: center;
  padding: 1rem 0;
}
main aside .toggle .menu.on a {
  width: 80%;
  margin: 0 auto;
  padding: 0.8rem;
}
main aside .toggle .menu.on a img {
  width: 100%;
}
main aside .toggle a {
  cursor: pointer;
  padding: 1rem 0.3rem;
}
main aside .toggle a img {
  width: 100%;
}
main .list {
  width: 90%;
}
main .list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #332624;
  padding: 2rem;
}
main .list ul li {
  width: 45%;
  padding: 1rem 0;
}
main .list ul li figure {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
main .list ul li figure a {
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
main .list ul li figure a img {
  width: 100%;
}
main .list ul li figure a span {
  position: absolute;
  left: 2%;
  top: 2.5%;
  display: block;
  font-family: "font_zelda";
  font-weight: 200;
  font-size: 1.125rem;
  color: #faf7f2;
  background-color: #163156;
  padding: 0.2rem 0.3rem;
  border-radius: 10px;
}
main .list ul li figure figcaption {
  width: 46%;
  color: #e0ceaa;
}
main .list ul li figure figcaption b {
  font-family: "dreamgotic";
  font-weight: 500;
  font-size: 1.375rem;
}
main .list ul li figure figcaption p {
  font-family: "font_zelda";
  font-weight: 200;
  font-size: 1.125rem;
  padding: 0.5rem 0 1rem;
}
main .search {
  width: 90%;
}
main .search .search_area form {
  transform: translateY(50%);
  padding-left: 1rem;
  display: flex;
}
main .search .search_area form input {
  width: 90%;
  font-family: "font_zelda";
  font-weight: 200;
  font-size: 30px;
  color: #e0ceaa;
}
main .search .search_area form > div {
  width: 90%;
  display: flex;
}
main .search .search_area form > div .searchbar img {
  width: 100%;
}
main .search .search_data ul {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
main .search .search_data ul li {
  width: 25%;
  padding: 1rem 0 0;
}
main .search .search_data ul li figure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
main .search .search_data ul li figure a {
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
}
main .search .search_data ul li figure a img {
  width: 100%;
}
main .search .search_data ul li figure figcaption {
  color: #e0ceaa;
  width: 80%;
  text-align: center;
}
main .search .search_data ul li figure figcaption p {
  font-family: "font_zelda";
  font-weight: 200;
  font-size: 1.5rem;
  padding: 0.3rem 0;
}
main .search .search_data p {
  padding: 10rem 0;
  width: 100%;
  color: #e0ceaa;
  text-align: center;
  font-size: 20px;
  font-family: "dreamgotic";
  font-weight: 500;
}
main .favorite {
  width: 90%;
}
main .favorite .favorite_data ul {
  display: flex;
  flex-wrap: wrap;
  width: 96%;
}
main .favorite .favorite_data ul li {
  width: 25%;
  padding: 1.5rem 0 0;
}
main .favorite .favorite_data ul li figure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
main .favorite .favorite_data ul li figure a {
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
}
main .favorite .favorite_data ul li figure a img {
  width: 100%;
}
main .favorite .favorite_data ul li figure figcaption {
  color: #e0ceaa;
  width: 80%;
  text-align: center;
}
main .favorite .favorite_data ul li figure figcaption p {
  font-family: "font_zelda";
  font-weight: 200;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}