@import url('./_reset.scss');

body {
    background: url(./background_image.jpeg)
};

header {
    .head {
        p {
            img {}
        }
        h2 {
            font-family: "font_zelda";
            color: white;
        }
    }
}