@import url("./_reset.scss");

.detail_body {
    background-image: url(../src/img/background_image__PC_detail.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 80%;
    margin: 6rem auto 0;
    padding: 0 2rem;
    header {
        width: 90%;
        margin: 0 auto;
        .head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;
            padding: 3rem 0;
            p {
                width: 8%;
                text-align: right;
                img {
                    width: 40%;
                }
            }
            .like_heart {
                text-align: left;
            }
            h2 {
                width: 16%;
                color: #e0ceaa;
                text-align: center;
                text-transform: uppercase;
                font-size: 2.8rem;
                font-weight: 200;
                font-family: "font_zelda", "dreamgotic";
            }
            span {
                width: 10%;
                font-size: 2.5rem;
                color: #818181;
                text-align: left;
                cursor: pointer;
                &.active {
                    color: #ff4a4a;
                }
            }
        }
    }
    .detail {
        width: 100%;
        .d_aside {
            width: 30%;
            margin: 0 auto;
            .category {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                > a {
                    width: 14%;
                    text-align: center;
                    img {
                        width: 80%;
                    }
                }
            }
        }
        .contents {
            width: 90%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 3rem 0;
            .left_contents {
                min-width: 30%;
                .left {
                    width: 100%;
                    .left_txt {
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        padding-bottom: 0.2rem;
                        > p {
                            color: #84a1c8;
                            font-weight: 200;
                            font-size: 1.6rem;
                            text-transform: uppercase;
                            font-family: "font_zelda", "dreamgotic";
                        }
                        .txt {
                            color: #e0ceaa;
                            text-align: right;
                            p {
                                font-family: "font_zelda", "dreamgotic";
                                font-weight: 500;
                                font-size: 1.8rem;
                            }
                            span {
                                font-family: "font_zelda", "dreamgotic";
                                font-weight: 200;
                                font-size: 1.6rem;
                            }
                        }
                    }
                    .image {
                        min-width: 100%;
                        display: inline-block;
                        border-radius: 20px;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .right_contents {
                width: 45%;
                color: white;
                display: inline-block;
                .place {
                    padding: 1rem 0 1.2rem;
                    .location {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p {
                            width: 30%;
                            img {
                                width: 100%;
                            }
                        }
                        span {
                            color: #3cd3fc;
                            text-align: center;
                            font-size: 1.8rem;
                            font-weight: 500;
                            font-family: "font_zelda", "dreamgotic";
                        }
                    }
                    .place_data {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        padding-top: 0.5rem;
                        text-align: center;
                        span {
                            flex-grow: 1;
                            padding: 0.3rem 0;
                            width: 30%;
                            font-size: 1.4rem;
                            font-weight: 500;
                            font-family: "font_zelda", "dreamgotic";
                        }
                    }
                }
                .get_item {
                    padding: 1rem 0 1.2rem;
                    .item {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p {
                            width: 30%;
                            img {
                                width: 100%;
                            }
                        }
                        span {
                            color: #3cd3fc;
                            text-align: center;
                            font-size: 1.8rem;
                            font-weight: 500;
                            font-family: "font_zelda", "dreamgotic";
                        }
                    }
                    .item_data {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-wrap: wrap;
                        padding-top: 0.5rem;
                        text-align: center;
                        span {
                            flex-grow: 1;
                            padding: 0.3rem 0;
                            width: 30%;
                            font-size: 1.4rem;
                            font-weight: 500;
                            font-family: "font_zelda", "dreamgotic";
                        }
                    }
                }
                .description {
                    padding: 0.8rem 0;
                    > p {
                        color: #e0ceaa;
                        font-size: 1.3rem;
                        font-weight: 500;
                        line-height: 2rem;
                        font-family: "font_zelda", "dreamgotic";
                    }
                }
            }
        }
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    .detail_body {
        background-image: url(../src/img/background_image_detail.jpg);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        padding: 0;
        font-family: "font_zelda", "dreamgotic";
        header {
            width: 100%;
            .head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 84%;
                margin: 0 auto;
                padding: 2rem 0 2rem;
                p {
                    width: 10%;
                    text-align: right;
                    img {
                        width: 50%;
                    }
                }
                .like_heart {
                    text-align: left;
                }
                h2 {
                    width: 16%;
                    color: #e0ceaa;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 1.875rem;
                    font-weight: 200;
                }
                span {
                    width: 10%;
                    font-size: 1.5rem;
                    color: #818181;
                    text-align: left;
                    &.active {
                        color: #ff4a4a;
                    }
                }
            }
        }
        .detail {
            width: 100%;
            .d_aside {
                width: 50%;
                margin: 0 auto;
                padding-bottom: 2.5rem;
                .category {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    a {
                        width: 14%;
                        text-align: center;
                        img {
                            width: 80%;
                            &:hover {
                                box-shadow: (0px 0px 7px 6px rgba(1, 242, 255, 0.5));
                            }
                        }
                    }
                }
            }
            .contents {
                width: 100%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0;
                .left_contents {
                    min-width: 40%;
                    .left {
                        width: 100%;
                        .left_txt {
                            display: flex;
                            align-items: flex-end;
                            justify-content: space-between;
                            padding-bottom: 0.2rem;
                            > p {
                                color: #84a1c8;
                                font-weight: 200;
                                text-transform: uppercase;
                                font-size: 1rem;
                            }
                            .txt {
                                color: #e0ceaa;
                                text-align: right;
                                p {
                                    font-weight: 500;
                                    font-size: 1rem;
                                }
                                span {
                                    font-weight: 200;
                                    font-size: 1rem;
                                }
                            }
                        }
                        .image {
                            min-width: 100%;
                            display: inline-block;
                            border-radius: 10px;
                            overflow: hidden;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                .right_contents {
                    width: 45%;
                    color: white;
                    display: inline-block;
                    .place {
                        padding: 1rem 0;
                        .location {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            p {
                                width: 30%;
                                img {
                                    width: 100%;
                                }
                            }
                            span {
                                color: #3cd3fc;
                                text-align: center;
                                font-size: 1.2rem;
                                font-weight: 500;
                            }
                        }
                        .place_data {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            padding-top: 0.5rem;
                            text-align: center;
                            span {
                                padding: 0.3rem 0;
                                width: 30%;
                                font-size: 0.9rem;
                                font-weight: 500;
                            }
                        }
                    }
                    .get_item {
                        padding: 1rem 0;
                        .item {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            p {
                                width: 30%;
                                img {
                                    width: 100%;
                                }
                            }
                            span {
                                color: #3cd3fc;
                                text-align: center;
                                font-size: 1.2rem;
                                font-weight: 500;
                            }
                        }
                        .item_data {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            padding-top: 0.5rem;
                            text-align: center;
                            span {
                                flex-grow: 1;
                                padding: 0.3rem 0;
                                width: 30%;
                                font-size: 0.9rem;
                                font-weight: 500;
                            }
                        }
                    }
                    .description {
                        padding: 0.8rem 0;
                        > p {
                            color: #e0ceaa;
                            font-size: 0.8rem;
                            font-weight: 500;
                            line-height: 1.2rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 640px) {
    .detail_body {
        background-image: url(../src/img/background_image__mobile_detail_1.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0;
        margin: 4rem auto 0;
        font-family: "font_zelda", "dreamgotic";
        header {
            width: 100%;
            .head {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 90%;
                margin: 0 auto;
                padding: 0 0 3rem;
                p {
                    width: 12%;
                    text-align: right;
                    img {
                        width: 50%;
                    }
                }
                .like_heart {
                    text-align: left;
                }
                h2 {
                    width: 40%;
                    color: #e0ceaa;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 1.8rem;
                    font-weight: 200;
                }
                span {
                    width: 12%;
                    font-size: 1.6rem;
                    color: #818181;
                    text-align: left;
                    &.active {
                        color: #ff4a4a;
                    }
                }
            }
        }
        .detail {
            .d_aside {
                width: 90%;
                margin: 0 auto 1rem;
                .category {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    a {
                        width: 18%;
                        text-align: center;
                        img {
                            width: 60%;
                            &:hover {
                                box-shadow: (0px 0px 7px 6px rgba(1, 242, 255, 0.5));
                            }
                        }
                    }
                }
            }
            .contents {
                width: 90%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                padding: 4rem 0;
                .left_contents {
                    min-width: 90%;
                    .left {
                        width: 100%;
                        display: flex;
                        flex-direction: column-reverse;
                        .left_txt {
                            width: 100%;
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-between;
                            padding-bottom: 0;
                            padding-top: 0.2rem;
                            > p {
                                color: #84a1c8;
                                font-weight: 200;
                                font-size: 1rem;
                                text-transform: uppercase;
                            }
                            .txt {
                                color: #e0ceaa;
                                text-align: right;
                                p {
                                    font-weight: 500;
                                    font-size: 1rem;
                                }
                                span {
                                    font-weight: 200;
                                    font-size: 1rem;
                                }
                            }
                        }
                        .image {
                            width: 100%;
                            display: inline-block;
                            border-radius: 10px;
                            overflow: hidden;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                .right_contents {
                    width: 90%;
                    color: white;
                    display: inline-block;
                    .place {
                        padding: 1rem 0;
                        .location {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            p {
                                width: 30%;
                                img {
                                    width: 100%;
                                }
                            }
                            span {
                                color: #3cd3fc;
                                font-size: 1.175rem;
                                font-weight: 500;
                            }
                        }
                        .place_data {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            padding-top: 0.5rem;
                            text-align: center;
                            span {
                                flex-grow: 1;
                                padding: 0.3rem 0;
                                width: 30%;
                                font-size: 0.9rem;
                                font-weight: 500;
                            }
                        }
                    }
                    .get_item {
                        padding: 1rem 0;
                        .item {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            p {
                                width: 30%;
                                img {
                                    width: 100%;
                                }
                            }
                            span {
                                color: #3cd3fc;
                                font-size: 1.175rem;
                                font-weight: 500;
                            }
                        }
                        .item_data {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            padding-top: 0.5rem;
                            text-align: center;
                            span {
                                flex-grow: 1;
                                padding: 0.3rem 0;
                                width: 25%;
                                font-size: 0.9rem;
                                font-weight: 500;
                            }
                        }
                    }
                    .description {
                        padding: 0.8rem 0;
                        > p {
                            color: #e0ceaa;
                            font-size: 0.8rem;
                            font-weight: 500;
                        }
                    }
                }
                .right_contents_Weapon {
                    width: 55%;
                    color: white;
                    display: none;
                    .place {
                        padding: 1rem 0 2rem;
                        .location {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            p {
                                img {
                                }
                            }
                            span {
                                color: #3cd3fc;
                                font-size: 1.375rem;
                                font-weight: 500;
                            }
                        }
                        .place_data {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-top: 0.5rem;
                            text-align: center;
                            span {
                                padding: 0.3rem 0;
                                width: 30%;
                                font-weight: 500;
                            }
                        }
                    }
                    .get_item {
                        padding-bottom: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .item_stats {
                            width: 100%;
                            .item {
                                width: 100%;
                                p {
                                    img {
                                    }
                                }
                                span {
                                    color: #3cd3fc;
                                    font-size: 1.375rem;
                                    font-weight: 500;
                                }
                            }
                            .item_data {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-wrap: wrap;
                                padding-top: 0.5rem;
                                text-align: center;
                                span {
                                    padding: 0.3rem 0;
                                    width: 25%;
                                    font-size: 1.125rem;
                                    font-weight: 200;
                                }
                            }
                        }
                    }
                    .description {
                        padding: 0.8rem 0;
                        > p {
                            color: #e0ceaa;
                            font-size: 0.8rem;
                            font-weight: 500;
                            line-height: 0.4rem;
                        }
                    }
                }
            }
        }
    }
}
