@import url("./_reset.scss");
.detail_body {
  background-image: url(../src/img/background_image__PC_detail.png);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 80%;
  margin: 6rem auto 0;
  padding: 0 2rem;
}
.detail_body header {
  width: 90%;
  margin: 0 auto;
}
.detail_body header .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 3rem;
}
.detail_body header .head p {
  width: 8%;
  text-align: right;
}
.detail_body header .head p img {
  width: 40%;
}
.detail_body header .head .like_heart {
  text-align: left;
}
.detail_body header .head h2 {
  width: 16%;
  color: #e0ceaa;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "font_zelda";
  font-weight: 200;
}
.detail_body header .head span {
  width: 10%;
  font-size: 2.5rem;
  color: #818181;
  text-align: left;
}
.detail_body header .head span.active {
  color: #ff4a4a;
}
.detail_body .detail {
  width: 100%;
}
.detail_body .detail .d_aside {
  width: 30%;
  margin: 0 auto;
}
.detail_body .detail .d_aside .category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.detail_body .detail .d_aside .category > a {
  width: 14%;
  text-align: center;
}
.detail_body .detail .d_aside .category > a img {
  width: 80%;
}
.detail_body .detail .d_aside .category > a img:hover {
  box-shadow: 0px 0px 7px 6px rgba(1, 242, 255, 0.5);
}
.detail_body .detail .contents {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0;
}
.detail_body .detail .contents .left_contents {
  width: 30%;
}
.detail_body .detail .contents .left_contents .left {
  width: 100%;
}
.detail_body .detail .contents .left_contents .left .left_txt {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 0.2rem;
}
.detail_body .detail .contents .left_contents .left .left_txt > p {
  color: #84a1c8;
  font-family: "font_zelda";
  font-weight: 200;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.detail_body .detail .contents .left_contents .left .left_txt .txt {
  color: #e0ceaa;
  text-align: right;
}
.detail_body .detail .contents .left_contents .left .left_txt .txt p {
  font-family: "dreamgotic";
  font-weight: 500;
  font-size: 1.5rem;
}
.detail_body .detail .contents .left_contents .left .left_txt .txt span {
  font-family: "font_zelda";
  font-weight: 200;
  font-size: 1.3rem;
}
.detail_body .detail .contents .left_contents .left .image {
  min-width: 100%;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
}
.detail_body .detail .contents .left_contents .left .image img {
  width: 100%;
}
.detail_body .detail .contents .right_contents {
  width: 55%;
  color: white;
  display: inline-block;
}
.detail_body .detail .contents .right_contents .place {
  padding: 1rem 0 1.2rem;
}
.detail_body .detail .contents .right_contents .place .location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail_body .detail .contents .right_contents .place .location p {
  width: 30%;
}
.detail_body .detail .contents .right_contents .place .location p img {
  width: 100%;
}
.detail_body .detail .contents .right_contents .place .location span {
  color: #3cd3fc;
  text-align: center;
  font-size: 1.5rem;
  font-family: "dreamgotic";
  font-weight: 500;
}
.detail_body .detail .contents .right_contents .place .place_data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  text-align: center;
}
.detail_body .detail .contents .right_contents .place .place_data span {
  padding: 0.3rem 0;
  width: 30%;
  font-size: 1.2rem;
  font-family: "font_zelda", "dreamgotic";
  font-weight: 500;
}
.detail_body .detail .contents .right_contents .get_item {
  padding: 1rem 0 1.2rem;
}
.detail_body .detail .contents .right_contents .get_item .item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail_body .detail .contents .right_contents .get_item .item p {
  width: 30%;
}
.detail_body .detail .contents .right_contents .get_item .item p img {
  width: 100%;
}
.detail_body .detail .contents .right_contents .get_item .item span {
  color: #3cd3fc;
  text-align: center;
  font-size: 1.5rem;
  font-family: "dreamgotic";
  font-weight: 500;
}
.detail_body .detail .contents .right_contents .get_item .item_data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  text-align: center;
}
.detail_body .detail .contents .right_contents .get_item .item_data span {
  flex-grow: 1;
  padding: 0.3rem 0;
  width: 30%;
  font-size: 1.2rem;
  font-family: "font_zelda", "dreamgotic";
  font-weight: 500;
}
.detail_body .detail .contents .right_contents .description {
  padding: 0.8rem 0;
}
.detail_body .detail .contents .right_contents .description > p {
  color: #e0ceaa;
  font-size: 1.2rem;
  font-family: "font_zelda", "dreamgotic";
  font-weight: 500;
  line-height: 2rem;
}

@media (min-width: 641px) and (max-width: 1024px) {
  .detail_body {
    background-image: url(../src/img/background_image_detail.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    padding: 0;
  }
  .detail_body header {
    width: 100%;
  }
  .detail_body header .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 84%;
    margin: 0 auto;
    padding: 2rem 0 2rem;
  }
  .detail_body header .head p {
    width: 10%;
    text-align: right;
  }
  .detail_body header .head p img {
    width: 50%;
  }
  .detail_body header .head .like_heart {
    text-align: left;
  }
  .detail_body header .head h2 {
    width: 16%;
    color: #e0ceaa;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.875rem;
    font-family: "font_zelda";
    font-weight: 200;
  }
  .detail_body header .head span {
    width: 10%;
    font-size: 1.5rem;
    color: #818181;
    text-align: left;
  }
  .detail_body header .head span.active {
    color: #ff4a4a;
  }
  .detail_body .detail {
    width: 100%;
  }
  .detail_body .detail .d_aside {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 2.5rem;
  }
  .detail_body .detail .d_aside .category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .detail_body .detail .d_aside .category a {
    width: 14%;
    text-align: center;
  }
  .detail_body .detail .d_aside .category a img {
    width: 80%;
  }
  .detail_body .detail .d_aside .category a img:hover {
    box-shadow: 0px 0px 7px 6px rgba(1, 242, 255, 0.5);
  }
  .detail_body .detail .contents {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  .detail_body .detail .contents .left_contents {
    width: 40%;
  }
  .detail_body .detail .contents .left_contents .left {
    width: 100%;
  }
  .detail_body .detail .contents .left_contents .left .left_txt {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 0.2rem;
  }
  .detail_body .detail .contents .left_contents .left .left_txt > p {
    color: #84a1c8;
    font-family: "font_zelda";
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1rem;
  }
  .detail_body .detail .contents .left_contents .left .left_txt .txt {
    color: #e0ceaa;
    text-align: right;
  }
  .detail_body .detail .contents .left_contents .left .left_txt .txt p {
    font-family: "dreamgotic";
    font-weight: 500;
    font-size: 1rem;
  }
  .detail_body .detail .contents .left_contents .left .left_txt .txt span {
    font-family: "font_zelda";
    font-weight: 200;
    font-size: 1rem;
  }
  .detail_body .detail .contents .left_contents .left .image {
    min-width: 100%;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
  }
  .detail_body .detail .contents .left_contents .left .image img {
    width: 100%;
  }
  .detail_body .detail .contents .right_contents {
    width: 55%;
    color: white;
    display: inline-block;
  }
  .detail_body .detail .contents .right_contents .place {
    padding: 1rem 0;
  }
  .detail_body .detail .contents .right_contents .place .location {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .detail_body .detail .contents .right_contents .place .location p {
    width: 30%;
  }
  .detail_body .detail .contents .right_contents .place .location p img {
    width: 100%;
  }
  .detail_body .detail .contents .right_contents .place .location span {
    color: #3cd3fc;
    text-align: center;
    font-size: 1.2rem;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents .place .place_data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    text-align: center;
  }
  .detail_body .detail .contents .right_contents .place .place_data span {
    padding: 0.3rem 0;
    width: 30%;
    font-size: 0.9rem;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents .get_item {
    padding: 1rem 0;
  }
  .detail_body .detail .contents .right_contents .get_item .item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .detail_body .detail .contents .right_contents .get_item .item p {
    width: 30%;
  }
  .detail_body .detail .contents .right_contents .get_item .item p img {
    width: 100%;
  }
  .detail_body .detail .contents .right_contents .get_item .item span {
    color: #3cd3fc;
    text-align: center;
    font-size: 1.2rem;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents .get_item .item_data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    text-align: center;
  }
  .detail_body .detail .contents .right_contents .get_item .item_data span {
    flex-grow: 1;
    padding: 0.3rem 0;
    width: 30%;
    font-size: 0.9rem;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents .description {
    padding: 0.8rem 0;
  }
  .detail_body .detail .contents .right_contents .description > p {
    color: #e0ceaa;
    font-size: 0.8rem;
    font-family: "font_zelda", "dreamgotic";
    font-weight: 500;
    line-height: 1.2rem;
  }
}
@media (max-width: 640px) {
  .detail_body {
    background-image: url(../src/img/background_image__mobile_detail_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 4rem auto 0;
  }
  .detail_body header {
    width: 100%;
  }
  .detail_body header .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 0 0 3rem;
  }
  .detail_body header .head p {
    width: 12%;
    text-align: right;
  }
  .detail_body header .head p img {
    width: 50%;
  }
  .detail_body header .head .like_heart {
    text-align: left;
  }
  .detail_body header .head h2 {
    width: 40%;
    color: #e0ceaa;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: "font_zelda";
    font-weight: 200;
  }
  .detail_body header .head span {
    width: 12%;
    font-size: 1.6rem;
    color: #818181;
    text-align: left;
  }
  .detail_body header .head span.active {
    color: #ff4a4a;
  }
  .detail_body .detail .d_aside {
    width: 90%;
    margin: 0 auto 1rem;
  }
  .detail_body .detail .d_aside .category {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .detail_body .detail .d_aside .category a {
    width: 18%;
    text-align: center;
  }
  .detail_body .detail .d_aside .category a img {
    width: 60%;
  }
  .detail_body .detail .d_aside .category a img:hover {
    box-shadow: 0px 0px 7px 6px rgba(1, 242, 255, 0.5);
  }
  .detail_body .detail .contents {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 4rem 0;
  }
  .detail_body .detail .contents .left_contents {
    width: 90%;
  }
  .detail_body .detail .contents .left_contents .left {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .detail_body .detail .contents .left_contents .left .left_txt {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 0;
    padding-top: 0.2rem;
  }
  .detail_body .detail .contents .left_contents .left .left_txt > p {
    color: #84a1c8;
    font-family: "font_zelda";
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .detail_body .detail .contents .left_contents .left .left_txt .txt {
    color: #e0ceaa;
    text-align: right;
  }
  .detail_body .detail .contents .left_contents .left .left_txt .txt p {
    font-family: "dreamgotic";
    font-weight: 500;
    font-size: 1rem;
  }
  .detail_body .detail .contents .left_contents .left .left_txt .txt span {
    font-family: "font_zelda";
    font-weight: 200;
    font-size: 1rem;
  }
  .detail_body .detail .contents .left_contents .left .image {
    width: 100%;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
  }
  .detail_body .detail .contents .left_contents .left .image img {
    width: 100%;
  }
  .detail_body .detail .contents .right_contents {
    width: 90%;
    color: white;
    display: inline-block;
  }
  .detail_body .detail .contents .right_contents .place {
    padding: 1rem 0;
  }
  .detail_body .detail .contents .right_contents .place .location {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .detail_body .detail .contents .right_contents .place .location p {
    width: 30%;
  }
  .detail_body .detail .contents .right_contents .place .location p img {
    width: 100%;
  }
  .detail_body .detail .contents .right_contents .place .location span {
    color: #3cd3fc;
    font-size: 1.175rem;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents .place .place_data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0.5rem;
    text-align: center;
  }
  .detail_body .detail .contents .right_contents .place .place_data span {
    flex-grow: 1;
    padding: 0.3rem 0;
    width: 30%;
    font-size: 0.9rem;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents .get_item {
    padding: 1rem 0;
  }
  .detail_body .detail .contents .right_contents .get_item .item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .detail_body .detail .contents .right_contents .get_item .item p {
    width: 30%;
  }
  .detail_body .detail .contents .right_contents .get_item .item p img {
    width: 100%;
  }
  .detail_body .detail .contents .right_contents .get_item .item span {
    color: #3cd3fc;
    font-size: 1.175rem;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents .get_item .item_data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    text-align: center;
  }
  .detail_body .detail .contents .right_contents .get_item .item_data span {
    flex-grow: 1;
    padding: 0.3rem 0;
    width: 25%;
    font-size: 0.9rem;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents .description {
    padding: 0.8rem 0;
  }
  .detail_body .detail .contents .right_contents .description > p {
    color: #e0ceaa;
    font-size: 0.8rem;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents_Weapon {
    width: 55%;
    color: white;
    display: none;
  }
  .detail_body .detail .contents .right_contents_Weapon .place {
    padding: 1rem 0 2rem;
  }
  .detail_body .detail .contents .right_contents_Weapon .place .location {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .detail_body .detail .contents .right_contents_Weapon .place .location span {
    color: #3cd3fc;
    font-size: 1.375rem;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents_Weapon .place .place_data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    text-align: center;
  }
  .detail_body .detail .contents .right_contents_Weapon .place .place_data span {
    padding: 0.3rem 0;
    width: 30%;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents_Weapon .get_item {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .detail_body .detail .contents .right_contents_Weapon .get_item .item_stats {
    width: 100%;
  }
  .detail_body .detail .contents .right_contents_Weapon .get_item .item_stats .item {
    width: 100%;
  }
  .detail_body .detail .contents .right_contents_Weapon .get_item .item_stats .item span {
    color: #3cd3fc;
    font-size: 1.375rem;
    font-family: "dreamgotic";
    font-weight: 500;
  }
  .detail_body .detail .contents .right_contents_Weapon .get_item .item_stats .item_data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    text-align: center;
  }
  .detail_body .detail .contents .right_contents_Weapon .get_item .item_stats .item_data span {
    padding: 0.3rem 0;
    width: 25%;
    font-size: 1.125rem;
    font-family: "font_zelda";
    font-weight: 200;
  }
  .detail_body .detail .contents .right_contents_Weapon .description {
    padding: 0.8rem 0;
  }
  .detail_body .detail .contents .right_contents_Weapon .description > p {
    color: #e0ceaa;
    font-size: 0.8rem;
    font-family: "font_zelda", "dreamgotic";
    font-weight: 500;
    line-height: 0.4rem;
  }
}