@import url("./_reset.scss");
body.detail {
  background-image: url(./background_image_detail.jpg);
  background-repeat: no-repeat;
  width: 100%;
}
body.detail header {
  width: 100%;
}
body.detail header .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0 2rem;
}
body.detail header .head a {
  width: 10%;
  text-align: right;
}
body.detail header .head a img {
  width: 40%;
}
body.detail header .head .like_heart {
  text-align: left;
}
body.detail header .head h2 {
  width: 16%;
  color: #e0ceaa;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.875rem;
  font-family: "font_zelda";
  font-weight: 200;
}
body.detail .detail aside {
  width: 50%;
  margin: 0 auto;
}
body.detail .detail aside .category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body.detail .detail aside .category a {
  width: 14%;
  text-align: center;
}
body.detail .detail aside .category a img {
  width: 80%;
}
body.detail .detail aside .category a img:hover {
  box-shadow: 0px 0px 7px 6px rgba(1, 242, 255, 0.5);
}
body.detail .contentsD {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}
body.detail .contentsD .left_contents .left_txt {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 0.2rem;
}
body.detail .contentsD .left_contents .left_txt > p {
  color: #84a1c8;
  font-family: "font_zelda";
  font-weight: 200;
  text-transform: uppercase;
}
body.detail .contentsD .left_contents .left_txt .txt {
  color: #e0ceaa;
  text-align: right;
}
body.detail .contentsD .left_contents .left_txt .txt p {
  font-family: "dreamgotic";
  font-weight: 500;
  font-size: 1.375rem;
}
body.detail .contentsD .left_contents .left_txt .txt span {
  font-family: "font_zelda";
  font-weight: 200;
}
body.detail .contentsD .left_contents > p {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}
body.detail .contentsD .right_contents {
  width: 55%;
  color: white;
  display: none;
}
body.detail .contentsD .right_contents .place {
  padding: 1rem 0 2rem;
}
body.detail .contentsD .right_contents .place .location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body.detail .contentsD .right_contents .place .location span {
  color: #3cd3fc;
  font-size: 1.375rem;
  font-family: "dreamgotic";
  font-weight: 500;
}
body.detail .contentsD .right_contents .place .place_data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.5rem;
}
body.detail .contentsD .right_contents .place .place_data span {
  padding: 0.3rem 0;
  width: 30%;
  font-family: "dreamgotic";
  font-weight: 500;
}
body.detail .contentsD .right_contents .get_item {
  padding-bottom: 2rem;
}
body.detail .contentsD .right_contents .get_item .item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body.detail .contentsD .right_contents .get_item .item span {
  color: #3cd3fc;
  font-size: 1.375rem;
  font-family: "dreamgotic";
  font-weight: 500;
}
body.detail .contentsD .right_contents .get_item .item_data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}
body.detail .contentsD .right_contents .get_item .item_data span {
  padding: 0.3rem 0;
  width: 25%;
  font-family: "dreamgotic";
  font-weight: 500;
}
body.detail .contentsD .right_contents .description {
  padding: 0.8rem 0;
}
body.detail .contentsD .right_contents .description > p {
  color: #e0ceaa;
  font-family: "dreamgotic";
  font-weight: 500;
}
body.detail .contentsD .right_contents_Weapon {
  width: 55%;
  color: white;
}
body.detail .contentsD .right_contents_Weapon .place {
  padding: 1rem 0 2rem;
}
body.detail .contentsD .right_contents_Weapon .place .location {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body.detail .contentsD .right_contents_Weapon .place .location span {
  color: #3cd3fc;
  font-size: 1.375rem;
  font-family: "dreamgotic";
  font-weight: 500;
}
body.detail .contentsD .right_contents_Weapon .place .place_data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  text-align: center;
}
body.detail .contentsD .right_contents_Weapon .place .place_data span {
  padding: 0.3rem 0;
  width: 30%;
  font-family: "dreamgotic";
  font-weight: 500;
}
body.detail .contentsD .right_contents_Weapon .get_item {
  padding: 1rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body.detail .contentsD .right_contents_Weapon .get_item .item_stats {
  width: 100%;
}
body.detail .contentsD .right_contents_Weapon .get_item .item_stats .item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body.detail .contentsD .right_contents_Weapon .get_item .item_stats .item span {
  color: #3cd3fc;
  font-size: 1.375rem;
  font-family: "dreamgotic";
  font-weight: 500;
}
body.detail .contentsD .right_contents_Weapon .get_item .item_stats .item_data {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0.5rem;
  text-align: center;
}
body.detail .contentsD .right_contents_Weapon .get_item .item_stats .item_data span {
  padding: 0.3rem 0;
  width: 25%;
  font-size: 1.125rem;
  font-family: "font_zelda";
  font-weight: 200;
}
body.detail .contentsD .right_contents_Weapon .description {
  padding: 0.8rem 0;
}
body.detail .contentsD .right_contents_Weapon .description > p {
  color: #e0ceaa;
  font-family: "dreamgotic";
  font-weight: 500;
}