@import url("./_reset.scss");
.container {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  cursor: url("../src/img_src/click_anywhere.png") 5 5, auto;
}
.container > b {
  font-family: "dreamgotic";
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
  text-shadow: 0px 1px 0px rgb(255, 255, 255);
  color: transparent;
  -webkit-text-stroke: 1.5px #97b2f8;
}

.pulse {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40rem;
}
.pulse circle {
  fill: #d7e2ff;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  animation: pulse 3s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}
.pulse circle:nth-child(2) {
  fill: #9eb7fa;
  animation: pulse 3s 2s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}
.pulse circle:nth-child(3) {
  fill: #85a5ff;
  animation: pulse 3s 4s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}

@keyframes pulse {
  25% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
  }
}