@import url("./_reset.scss");

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .headerbox {
        height: 75px;
        width: 80%;
        margin: 0 auto;
        padding: 1rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            width: 100px;

            img {
                width: 60%;
            }
        }

        nav {
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: "dreamgotic";
            font-weight: 300;

            a {
                letter-spacing: 2px;
                color: #707070;
                ;

                &::after {
                    display: block;
                    content: '';
                    border-bottom: solid 3px #B1C7FF;
                    transform: scaleX(0);
                    transform-origin: 0% 50%;
                    transition: transform 200ms ease-in-out;
                }

                &:hover {
                    color: #000;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}