@import url("./_reset.scss");
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px dashed #b1c7ff;
}
header .headerbox {
  height: 75px;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headerbox h1 {
  width: 100px;
}
header .headerbox h1 img {
  width: 60%;
}
header .headerbox nav {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "dreamgotic";
  font-weight: 300;
}
header .headerbox nav a {
  letter-spacing: 2px;
  color: #707070;
}
header .headerbox nav a::after {
  display: block;
  content: "";
  border-bottom: solid 3px #b1c7ff;
  transform: scaleX(0);
  transform-origin: 0% 50%;
  transition: transform 200ms ease-in-out;
}
header .headerbox nav a:hover {
  color: #000;
}
header .headerbox nav a:hover::after {
  transform: scaleX(1);
}

.about_page {
  font-family: "dreamgotic";
  width: 100%;
  padding: 200px 0;
}
.about_page .about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 1.7rem 0;
}
.about_page .about .about_left {
  width: 30%;
}
.about_page .about .about_left .profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about_page .about .about_left .profile > p {
  width: 70%;
  padding-bottom: 3rem;
}
.about_page .about .about_left .profile > p img {
  width: 100%;
}
.about_page .about .about_left .profile .info_data .kakao_qr {
  position: absolute;
  bottom: -10%;
  left: 2%;
  display: none;
  width: 80%;
}
.about_page .about .about_left .profile .info_data .kakao_qr img {
  width: 90%;
}
.about_page .about .about_left .profile .info_data div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.about_page .about .about_left .profile .info_data div p {
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8rem;
  border-left: 3px solid black;
  display: flex;
  align-items: center;
}
.about_page .about .about_left .profile .info_data div p:nth-of-type(1)::before {
  content: "\e7e9";
  font-family: "Material Symbols Outlined";
  display: inline-block;
  width: 30px;
  height: 20px;
  font-size: 1.2rem;
  text-align: center;
}
.about_page .about .about_left .profile .info_data div p:nth-of-type(2)::before {
  content: "\e325";
  font-family: "Material Symbols Outlined";
  display: inline-block;
  width: 30px;
  height: 20px;
  font-size: 1.2rem;
  text-align: center;
}
.about_page .about .about_left .profile .info_data div p:nth-of-type(2)::after {
  content: "\e409";
  font-family: "Material Symbols Outlined";
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 1rem;
}
.about_page .about .about_left .profile .info_data div p:nth-of-type(3)::before {
  content: "\e158";
  font-family: "Material Symbols Outlined";
  display: inline-block;
  width: 30px;
  height: 20px;
  font-size: 1.2rem;
  text-align: center;
}
.about_page .about .about_right {
  width: 60%;
}
.about_page .about .about_right b {
  font-weight: 500;
  font-size: 2.5rem;
  padding: 2rem 0;
  display: inline-block;
}
.about_page .about .about_right b span {
  padding: 0.5rem 0;
  border-bottom: 2px solid #b1c7ff;
}
.about_page .about .about_right b span:hover {
  transition: 0.5s;
  background-color: #b1c7ff;
  color: white;
}
.about_page .about .about_right .about_me p {
  font-weight: 300;
  font-size: 20px;
  padding: 1rem 0;
}
.about_page .about .about_right .about_me span {
  line-height: 24px;
  display: inline-block;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 200;
}
.about_page .about .about_right .Education p {
  font-weight: 300;
  font-size: 20px;
  padding: 1rem 0;
}
.about_page .about .about_right .Education .edu_data {
  display: flex;
  flex-direction: column;
}
.about_page .about .about_right .Education .edu_data span {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 200;
}

.skill_page {
  width: 100%;
}
.skill_page .color_box {
  width: 100%;
  text-align: center;
  background-color: #d7e2ff;
}
.skill_page .color_box p {
  font-family: "Blacksword";
  font-weight: 400;
  font-size: 48px;
  color: white;
  letter-spacing: 8px;
}
.skill_page .skill {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.skill_page .skill .skill_left {
  width: 45%;
}
.skill_page .skill .skill_left .skill_left_top > p {
  display: inline-block;
  color: #5786ff;
  border-top: 2px solid #5786ff;
  font-size: 22px;
}
.skill_page .skill .skill_left .skill_left_top ul li {
  border: 1px solid #b1c7ff;
}
.skill_page .skill .skill_left .skill_left_top ul li .contents_box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill_page .skill .skill_left .skill_left_top ul li .contents_box .skill_name {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill_page .skill .skill_left .skill_left_top ul li .contents_box .skill_name p {
  width: 30%;
}
.skill_page .skill .skill_left .skill_left_top ul li .contents_box .skill_name p img {
  width: 100%;
}
.skill_page .skill .skill_left .skill_left_top ul li .contents_box .skill_name span {
  width: 50%;
}
.skill_page .skill .skill_left .skill_left_top ul li .contents_box .skill_level {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.skill_page .skill .skill_left .skill_left_top ul li .contents_box .skill_level span {
  border-radius: 6px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #b1c7ff;
}
.skill_page .skill .skill_right {
  width: 45%;
}