@import url("./_reset.scss");

header.on {
    height: 0px;
    transition: 1.5s;
    z-index: 10;

    .headerbox {
        opacity: 0;
        transition: 0.5s;
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px dashed #b1c7ff;
    transition: 1.5s;
    z-index: 10;

    .headerbox {
        width: 80%;
        margin: 0 auto;
        padding: 1rem;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 3s;

        h1 {
            width: 100px;

            img {
                width: 60%;
            }
        }

        nav {
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-family: "dreamgotic";
            font-weight: 300;

            a {
                letter-spacing: 2px;
                color: #707070;

                &::after {
                    display: block;
                    content: "";
                    border-bottom: solid 3px #b1c7ff;
                    transform: scaleX(0);
                    transform-origin: 0% 50%;
                    transition: transform 200ms ease-in-out;
                }

                &:hover {
                    color: #000;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}

.about_page {
    font-family: "dreamgotic";
    width: 100%;
    height: 100vh;
    padding: 200px 0;

    .about {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        padding: 1.7rem 0;

        .about_left {
            width: 30%;

            .profile {
                display: flex;
                align-items: center;
                flex-direction: column;

                > p {
                    width: 70%;
                    padding-bottom: 3rem;

                    img {
                        width: 100%;
                    }
                }

                .info_data.on {
                    display: flex;
                    flex-direction: column;
                    min-height: 180px;

                    .kakao_qr {
                        display: inline-block;
                        width: 180px;
                        height: 180px;
                        text-align: center;
                        cursor: pointer;

                        img {
                            width: 90%;
                        }
                    }

                    div {
                        display: none;
                    }
                }

                .info_data {
                    display: flex;
                    flex-direction: column;
                    min-height: 180px;

                    .kakao_qr {
                        display: none;
                    }

                    div {
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        flex-direction: column;

                        p {
                            font-weight: 300;
                            font-size: 1rem;
                            padding: 0.8rem;
                            border-left: 3px solid black;
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            &:nth-of-type(1)::before {
                                content: "\e7e9";
                                font-family: "Material Symbols Outlined";
                                display: inline-block;
                                width: 30px;
                                height: 20px;
                                font-size: 1.2rem;
                                text-align: center;
                            }

                            &:nth-of-type(2)::before {
                                content: "\e325";
                                font-family: "Material Symbols Outlined";
                                display: inline-block;
                                width: 30px;
                                height: 20px;
                                font-size: 1.2rem;
                                text-align: center;
                            }

                            &:nth-of-type(2)::after {
                                content: "\e409";
                                font-family: "Material Symbols Outlined";
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                font-size: 1rem;
                            }

                            &:nth-of-type(3)::before {
                                content: "\e158";
                                font-family: "Material Symbols Outlined";
                                display: inline-block;
                                width: 30px;
                                height: 20px;
                                font-size: 1.2rem;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        .about_right {
            width: 60%;

            b {
                font-weight: 500;
                font-size: 2.5rem;
                padding: 2rem 0;
                display: inline-block;

                span {
                    padding: 0.5rem 0;

                    &::after {
                        display: block;
                        content: "";
                        border-bottom: solid 3px #b1c7ff;
                        transform: scaleX(0);
                        transform-origin: 0% 50%;
                        transition: transform 200ms ease-in-out;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                    }
                }
            }

            .about_me {
                p {
                    font-weight: 300;
                    font-size: 1.25rem;
                    padding: 1rem 0;
                }

                span {
                    line-height: 1.5rem;
                    display: inline-block;
                    padding: 1rem 0;
                    font-size: 1rem;
                    font-weight: 200;
                }
            }

            .Education {
                p {
                    font-weight: 300;
                    font-size: 1.25rem;
                    padding: 1rem 0;
                }

                .edu_data {
                    display: flex;
                    flex-direction: column;

                    span {
                        padding: 0.5rem 0;
                        font-size: 1rem;
                        font-weight: 200;
                    }
                }
            }
        }
    }
}

.skill_page {
    font-family: "dreamgotic";
    width: 100%;
    height: 100vh;

    .color_box {
        width: 100%;
        text-align: center;
        background-color: #d7e2ff;

        p {
            font-family: "Blacksword";
            font-weight: 400;
            font-size: 3rem;
            color: white;
            letter-spacing: 8px;
        }
    }

    .skill {
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 50px 0;

        .skill_left {
            width: 40%;

            .skill_left_top {
                min-height: 370px;
                padding: 1rem 0;

                > p {
                    display: inline-block;
                    padding: 0.5rem 0;
                    color: #5786ff;
                    border-top: 2px solid #5786ff;
                    font-weight: 300;
                    font-size: 1.375rem;
                }

                ul {
                    li {
                        margin: 0.5rem 0;
                        border: 1px solid #b1c7ff;
                        border-radius: 10px;
                        box-shadow: 1px 1px 4px #b1c7ff;

                        .contents_box {
                            width: 90%;
                            margin: 0 auto;
                            padding: 0.5rem 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .skill_name {
                                width: 40%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                p {
                                    text-align: center;
                                    width: 40%;

                                    img {
                                        width: 100%;
                                    }
                                }

                                span {
                                    width: 50%;
                                    font-weight: 300;
                                }
                            }

                            .skill_level {
                                width: 30%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                span {
                                    border-radius: 6px;
                                    display: inline-block;
                                    width: 22px;
                                    height: 22px;
                                    background-color: transparent;
                                    background-size: 0px 0px;
                                    border: 2px solid #b1c7ff;
                                }

                                .active {
                                    border-radius: 6px;
                                    display: inline-block;
                                    width: 22px;
                                    height: 22px;
                                    background-color: #b1c7ff;
                                }
                            }
                        }
                    }
                }
            }

            .skill_left_bottom {
                min-height: 370px;
                padding: 1rem 0;

                > p {
                    display: inline-block;
                    padding: 0.5rem 0;
                    color: #5786ff;
                    border-top: 2px solid #5786ff;
                    font-weight: 300;
                    font-size: 1.375rem;
                }

                ul {
                    li {
                        margin: 0.5rem 0;
                        border: 1px solid #b1c7ff;
                        border-radius: 10px;
                        box-shadow: 1px 1px 4px #b1c7ff;

                        .contents_box {
                            width: 90%;
                            margin: 0 auto;
                            padding: 0.5rem 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .skill_name {
                                width: 40%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                p {
                                    text-align: center;
                                    width: 40%;

                                    img {
                                        width: 100%;
                                    }
                                }

                                span {
                                    width: 50%;
                                    font-weight: 300;
                                }
                            }

                            .skill_level {
                                width: 30%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                span {
                                    border-radius: 6px;
                                    display: inline-block;
                                    width: 22px;
                                    height: 22px;
                                    background-color: transparent;
                                    border: 2px solid #b1c7ff;
                                }

                                .active {
                                    border-radius: 6px;
                                    display: inline-block;
                                    width: 22px;
                                    height: 22px;
                                    background-color: #b1c7ff;
                                }
                            }
                        }
                    }
                }
            }
        }

        .skill_right {
            width: 40%;

            .skill_right_top {
                min-height: 370px;
                padding: 1rem 0;

                > p {
                    display: inline-block;
                    padding: 0.5rem 0;
                    color: #5786ff;
                    border-top: 2px solid #5786ff;
                    font-weight: 300;
                    font-size: 1.375rem;
                }

                ul {
                    li {
                        margin: 0.5rem 0;
                        border: 1px solid #b1c7ff;
                        border-radius: 10px;
                        box-shadow: 1px 1px 4px #b1c7ff;

                        .contents_box {
                            width: 90%;
                            margin: 0 auto;
                            padding: 0.5rem 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .skill_name {
                                width: 40%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                p {
                                    text-align: center;
                                    width: 40%;

                                    img {
                                        width: 100%;
                                    }
                                }

                                span {
                                    width: 50%;
                                    font-weight: 300;
                                }
                            }

                            .skill_level {
                                width: 30%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                span {
                                    border-radius: 6px;
                                    display: inline-block;
                                    width: 22px;
                                    height: 22px;
                                    background-color: transparent;
                                    border: 2px solid #b1c7ff;
                                }

                                .active {
                                    border-radius: 6px;
                                    display: inline-block;
                                    width: 22px;
                                    height: 22px;
                                    background-color: #b1c7ff;
                                }
                            }
                        }
                    }
                }
            }

            .skill_right_bottom {
                min-height: 370px;
                padding: 1rem 0;

                > p {
                    display: inline-block;
                    padding: 0.5rem 0;
                    color: #5786ff;
                    border-top: 2px solid #5786ff;
                    font-weight: 300;
                    font-size: 1.375rem;
                }

                ul {
                    li {
                        margin: 0.5rem 0;
                        border: 1px solid #b1c7ff;
                        border-radius: 10px;
                        box-shadow: 1px 1px 4px #b1c7ff;

                        .contents_box {
                            width: 90%;
                            margin: 0 auto;
                            padding: 0.5rem 0;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .skill_name {
                                width: 40%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                p {
                                    text-align: center;
                                    width: 40%;

                                    img {
                                        width: 100%;
                                    }
                                }

                                span {
                                    width: 50%;
                                    font-weight: 300;
                                }
                            }

                            .skill_level {
                                width: 30%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                span {
                                    border-radius: 6px;
                                    display: inline-block;
                                    width: 22px;
                                    height: 22px;
                                    background-color: transparent;
                                    border: 2px solid #b1c7ff;
                                }

                                .active {
                                    border-radius: 6px;
                                    display: inline-block;
                                    width: 22px;
                                    height: 22px;
                                    background-color: #b1c7ff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.project_page {
    font-family: "dreamgotic";
    width: 100%;
    height: 100vh;

    .color_box {
        width: 100%;
        text-align: center;
        background-color: #d7e2ff;

        p {
            font-family: "Blacksword";
            font-weight: 400;
            font-size: 3rem;
            color: white;
            letter-spacing: 8px;
        }
    }

    .swiper {
        width: 70%;
        height: 85%;
        padding: 5rem 0;

        .swiper-slide {
            .project_list {
                width: 80%;
                height: 100%;
                margin: 0 auto;
                padding: 1.8rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border: 2px dashed #d7e2ff;

                .pro_left {
                    width: 40%;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    ul {
                        width: 90%;
                        height: 90%;
                        white-space: nowrap;
                        position: relative;

                        li {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            text-align: center;

                            img {
                                width: 90%;
                                opacity: 0;
                            }
                        }
                        .active {
                            opacity: 1;
                            transition: opacity 0.5s ease-in-out;
                        }
                    }

                    // ul::-webkit-scrollbar {
                    //     display: none;
                    // }
                    .btn_box {
                        width: 30%;
                        padding: 4px 0;
                        margin: 4px 0px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        border-radius: 4px;
                        background-color: rgba(215, 226, 255, 0.4);

                        span {
                            display: inline-block;
                            color: #a5a5a5;
                            cursor: pointer;

                            &:nth-of-type(1) {
                                width: 45%;
                                text-align: left;
                            }

                            &:nth-of-type(2) {
                                width: 10%;
                                text-align: center;
                                transform-origin: 100% 50%;
                                transform: translateX(-50%) rotate(-90deg);
                            }

                            &:nth-of-type(3) {
                                width: 45%;
                                text-align: right;
                            }
                        }
                    }
                }

                .pro_right {
                    font-weight: 200;
                    width: 55%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    b {
                        display: inline-block;
                        font-size: 1.5rem;
                    }

                    .pro_text {
                        width: 80%;
                        height: 70%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        flex-direction: column;

                        .date {
                            p {
                                color: #5786ff;
                                font-size: 1.25rem;
                            }

                            span {
                                font-size: 16px;
                                padding-left: 10px;
                            }
                        }

                        .language {
                            p {
                                color: #5786ff;
                                font-size: 20px;
                            }

                            span {
                                font-size: 16px;
                                padding-left: 10px;
                            }
                        }

                        .program {
                            p {
                                color: #5786ff;
                                font-size: 20px;
                            }

                            span {
                                font-size: 16px;
                                padding-left: 10px;
                            }
                        }

                        .description {
                            p {
                                color: #5786ff;
                                font-size: 20px;
                            }

                            span {
                                font-size: 16px;
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.contact_page {
    font-family: "dreamgotic";
    width: 100%;
    height: 80vh;
    position: relative;

    .color_box {
        width: 100%;
        text-align: center;
        background-color: #d7e2ff;

        p {
            font-family: "Blacksword";
            font-weight: 400;
            font-size: 3rem;
            color: white;
            letter-spacing: 8px;
        }
    }

    .flip.on {
        transform: rotateY(180deg);

        .back {
            transform: rotateY(180deg);
        }
    }

    .flip {
        width: 40%;
        height: 50%;
        margin: 5rem auto;
        transition: all 0.5s;
        transform-style: preserve-3d;
        position: relative;
        cursor: pointer;

        .front {
            width: 100%;
            height: 100%;
            border: 2px dashed #a1bbff;
            background-color: #f9fbff;
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            backface-visibility: hidden;

            p {
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }

        .back {
            height: 100%;
            border: 2px dashed #a1bbff;
            background-color: #f9fbff;
            padding: 2rem;
            display: flex;
            align-items: center;
            justify-content: space-around;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            position: absolute;
            top: 0;

            .con_left {
                font-weight: 200;
                width: 45%;
                height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                b {
                    display: inline-block;
                    font-size: 1.5rem;
                }

                .con_text {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;

                    .email {
                        p {
                            color: #5786ff;
                            font-size: 1.25rem;
                        }

                        span {
                            font-size: 16px;
                            padding-left: 10px;
                        }
                    }

                    .Github {
                        p {
                            color: #5786ff;
                            font-size: 20px;
                        }

                        span {
                            font-size: 16px;
                            padding-left: 10px;
                        }
                    }
                }
            }

            .con_right {
                width: 45%;

                p {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.frame_in {
    animation: frameInAnimation 1s forwards;
}

@keyframes frameInAnimation {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
